.b-page__section{
  padding: 3rem 0;
  margin: 0;
  border-bottom:1px solid $gray--lightest;
  @include mq (tablet,min){
    margin: 0 1.6rem;
  }
 &--jumbotron{
   background: $blue--lightest;
   padding: 3.5rem 1.2rem;
   @include mq (desktop,min){
     padding: 3.5rem 0;
   }
 }
  &--jumbotron-opteum{
    padding: 3.5rem 0;
  }
  &--jumbotron--uber{
    background: $white;
    padding: 0;
    border: none;
  }
  &--header{
    padding: 0 ;
  }
  &--underground{
    padding: 0.5rem 0;
  }
  &--non-border{
    border: none;
  }
  &--gradient{
    background:  linear-gradient(to bottom, #e7ebf9, #fcfbf8);
  }
  &--non-padding{
      padding-left: 0;
      padding-right: 0;

  }
}
.section{
  max-width: 1178px;
  margin: 0 auto;
  padding: 0 1.2rem;
  @include mq (tablet,min){
    padding: 0;
  }
  &--news{
    min-height: 460px;
  }
  &--md{
    max-width: 768px;
  }
  &--md-grid{
    max-width: 787px;
  }
  &__jumbotron-payment{
    margin: 4rem 0;
  }
  &__dropdown{
    margin: 0 auto;
  }
}
.section-title{
  text-align: center;
  align-self: center;
  margin: 2rem 0;
  margin-bottom: 2.5rem;
  font: $sm-h1 GothamProLight,sans-serif;
  &--left{
    float:left;
  }

  @include mq (tablet,min){
    font-size: $md-h1;
    &--md-left{
      align-self: flex-start;
    }
  }
  @include mq (desktop,min){
    font-size: $section-title;
  }
  & sup{
    color:$orange;
    text-transform: uppercase;
    vertical-align: text-top;
    font: $md-sm GothamProMedium,sans-serif;
    @include mq(tablet,min){
      font-size: $sm-sm;
    }
    @include mq(desktop,min){
      font-size: $lg-h5;
    }
  }
}
.b-page__section--blue{
  background: $blue--lightest;
}
.b-page__section--jumbotron-indicators{
  margin: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  min-height: 663px;
  background: url("../img/indicators-mob.svg")#E7EBF9 100% 103% no-repeat;
  background-size: 332px;
  @include mq(phone-wide,min){
    background-size: 447px;
  }
  @include mq(tablet,min){
    background: url("../img/indicators-ipad.svg")#E7EBF9 100% 110% no-repeat;
    min-height: 813px;
    background-size: 846px;
  }
  @include mq(desktop,min){
    background: url("../img/indicators-desktop.svg")#E7EBF9 100% 105% no-repeat;
    min-height: 801px;
    background-size: 1800px;

  }
 & .jumbotron__btn{
   margin-left: 0;
 }
}
.section__img{
  max-width: 100%;
  width: 100%;
  &--desk{
    margin: 2rem 0;
    padding: 0 1.6rem;
    display: none;
    @include mq (desktop,min){
      display: block;
    }
  }
  &--mob{
    display: block;
    @include mq (tablet,min){
      display: none;
    }
  }
  &--tablet{
    display: none;
    @include mq (tablet,min){
      display: block;
    }
    @include mq (desktop,min){
      display: none;
    }
  }
}