.b-page__section{
  padding: 3rem 1.6rem;
  border-bottom:1px solid $gray--lightest;
 &--jumbotron{
   background: $blue--lightest;
   padding: 3.5rem 1.6rem;
 }
  &--header{
    padding: 0 1.6rem;
  }
}
.section-title{
  text-align: center;
  margin: 2rem 0;
  margin-bottom: 2.5rem;
  font: $sm-h1 GothamProLight;
  @include mq (tablet,min){
    font-size: $md-h1;
  }
  @include mq (desktop,min){
    font-size: $section-title;
  }
  & sup{
    color:$orange;
    text-transform: uppercase;
    vertical-align: text-top;
    font: $md-sm GothamProMedium;
    @include mq(tablet,min){
      font-size: $sm-sm;
    }
    @include mq(desktop,min){
      font-size: $lg-h5;
    }
  }
}
.b-page__section--app{
  background: $blue--lightest;
}