.header{
  max-width: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  @include mq (tablet,min){
    align-items: baseline;
  }
  &__btn{
    order: 3;
    @include mq(tablet,min){
    }
  }
  &__menu{
    order: 5;
    @include mq(tablet,min){
      order: 2;
    }
  }
  &__burger{
    order: 4;
    @include mq(tablet,min){
      display: none;
    }
  }
}
.logo-company{
  font-family: ProximaNova-Bold;
  color: $black;
  font-size: $lg-logo;
  margin: 0 1.5rem 0 0;
  margin-right: auto;
  padding: 0 1.2rem;
}
