.header{
  max-width: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;

  &__btn{
    @include mq(tablet,min){
    }
  }
  &__burger{
    @include mq(tablet,min){
      display: none;
    }
  }
}
.logo-company{
  font-family: ProximaNova-Bold;
  color: $black;
  font-size: $lg-logo;
  margin: 0 1.5rem 0 0;
  margin-right: auto;
}
