
.b-article{
  display: flex;
  max-width: 252px;
  min-width: 149px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto 3em auto;
  word-wrap: break-word;
  word-break: break-word;

  &--cloud{
    max-width: 368px;
    & .b-article__img{
      width: 105px;
      height: 97px;
    }
  }
  &--motivation{
    max-width: 368px;
    margin: 0 auto;
    @include mq (desktop,min){
      margin-left: 0;
    }
  }
  @include mq(tablet,min){
    text-align: left;
    align-items: flex-start;
  }
&--main{
  max-width: 408px;
  min-width: 230px;
  align-items: left;
  @include mq(tablet-freak,min){
  max-width: 286px;
  min-width: 199px;
  margin-right: 5rem;
}
}
  &--price{
    max-width: 480px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    @include mq (desktop,min){
      align-items: flex-start;
      text-align: left;
  }
  }
  &__wrap{
    width: 100%;
  }
  &__news-wrap{
    width: 100%;
    height: 100%;
  }
  &__img{
    max-width: 105px;
    margin: 0;
    & > img{
      width:100%;
    }
  }
  &__img--gadget{
    max-width: 256px;
    max-height: 504px;
    margin: 0 auto;
    border-radius: 0 ;
  }
  &__img--icon{
    width: 88px;
    height: 88px;
    border-radius: 0;
    margin-bottom: 0;
    margin-top: 1em;
  }
  &__title{
    max-width: 100%;
    font-size: $md-h4;
    line-height: 1.2;
  }
  &__text{
    display: block;
    max-width: 100%;
    color: $gray;
    line-height: 1.3;
    margin:0.338em 0 ;
    text-decoration: none;
    &--black{
      color: $black;
      line-height: 1.5;
    }
    &--upper{
      text-transform: uppercase;
    }
    &--sm{
      font-size: 0.9em;
      font-weight: 100;
    }
    &--lg{
      font-size: $lg-h4;
    }
    &--md{
      font-size: 1.063em;
      font-weight: 100;
    }
    &--main{
      line-height: 1.5;
      font-size: $sm-h4;
    }
  }
  &__link{
    text-decoration: none;
  }
  &--aligned-left{
    align-items: flex-start;
    text-align: left;
  }
 &--jumbotron{
   max-width: 468px;
   text-align: center;
   align-items: center;

   @include mq (tablet,min){
     max-width: 248px;
     align-items: flex-start;
     text-align: left;
   }
 }
  &__btn-price{
    margin-left: 0;
  }
  &--sm{
    max-width: 137px;
  }
  &--article{
    @include mq (tablet,min){
      align-items: center;
      text-align: center;
      margin: 0 auto;
    }
    @include mq (desktop,min){
      align-items: flex-start;
      text-align: left;
    }
  }
}
.big-text{
  @extend .section-title;
  color:$black;
  margin: 0 1rem;
}
.price-img{
  max-width: 568px;
  margin: 2.5rem 0;
  &--mob{
    @include  mq(desktop,min){
      display: none;
    }
  }
}
.img-price{
  width: 100%;
}
.icon-opteum{
  width: 40px;
  height: 40px;
}
.b-article--news{
  overflow: hidden;
  transition: 0.5s;
  max-width: 342px;
  align-items: flex-start;
  text-align: left;
  border: 1px solid $gray--lightest;
  border-radius: 4px;
  margin-bottom: 2rem;
  & .b-article__img{
    z-index: -999;
    transition: .5s;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 342px;
    transition: 1s;
  }
  & .b-article__title{
    transition: 1s;
    line-height: 1.2;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  & .b-article__text{
    transition: 1s;
    text-transform: uppercase;
    font-size: $sm-sm;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
  }
  & .b-article__link{
    @extend .b-article__text;
    font-family: GothamProBold,sans-serif;
    color: $orange;
    margin-top: 1.5rem;
  }
  & .b-article_hidden{
    z-index: 9;
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    bottom:-100%;
    width: 100%;
    height:100%;
    transform: scale(0);
  }
  & .b-article__wrap{
    background: $white;
    transition: 0.5s;
  }
}
.b-article--news:hover{
  transition: 0.5s;
  box-shadow: $shadow-secondary;
  border: 1px solid $color-hover;
  @include mq (desktop,min){
  }
 .b-article_hidden{
   opacity: 1;
   transition: 0.5s;
   bottom:0;
   transform: scale(1);
  }
 .b-article__wrap{
   transition: 0.5s;
   }
  .b-article__img{
    transition: 0.5s;
    bottom: 0;
  }
}
.b-article--prices{
  max-width: 288px;
  padding: 4rem 1.5rem;
  align-items: center;
  text-align: center;
  background: $white;
  border: 1px solid $gray--lightest;
  @include mq (tablet,min){
    margin: 4rem 0;
  }
  & .article-img{
    width: 203px;
    height: 150px;
    margin: 1.5rem 0;
  }
  & .b-article__title{
    font-size: $md-h3;
    @include mq(desktop,min){}
    font-size: $lg-h3;
  }
  & .icon-item{
    padding: 1.2rem 1.4rem;
  }
}
.b-article--footer{
  max-width: 189px;
  min-width: 155px;
  margin: 0;
& .b-article__title {
  text-transform: uppercase;
  margin-bottom: 3rem;
}
  & .b-article__item{
    padding: .8rem 0;
    &--separate{
      margin-top: 1.2rem;
      padding-top: 1.2rem;
      border-top: 1px solid $gray--light-primary;
    }
    &--contacts{
      padding: 0.3rem 0;
      border: none;
    }
  }
  & .b-article__text{
    font:$md-h5 GothamProLight,sans-serif;
    margin: 0;
    @include mq (tablet,min){
     font-size: $md-h6;
    }
    &--facebook{
      font: $lg-h2 ProximaNova-Bold,sans-serif;
      color: $orange;
    }
  }
}
a.b-article__text{
  transition: 0.5s;
  &:hover{
    transition: 0.5s;
    color: $gray--dark;
  }
}
@include mq (tablet,min){
  .b-article--news{
    max-width: 288px;
    margin:  0 auto;
    & .b-article__title{
      font-size: $md-h5;
      line-height: 1.3;
    }
    & .b-article__text{
      font-size: $md-sm;
    }
  }
}
@include mq (desktop,min){
  .b-article--news{
    max-width: 268px;
  }
}