.b-article{
  display: flex;
  max-width: 343px;
  min-width: 214px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto 1.250em;
  word-wrap: break-word;
  word-break: break-word;
  @include mq(tablet,min){
    text-align: left;
    align-items: flex-start;
  }
&--main{
  max-width: 608px;
  min-width: 230px;
  align-items: left;
  @include mq(tablet-freak,min){
  max-width: 343px;
  min-width: 230px;
}
}
  &--price{
    max-width: 480px;
    align-items: center;
    text-align: center;
    @include mq (desktop,min){
      align-items: flex-start;
      text-align: left;
  }
  }
  &__wrap{
    width: 100%;
  }
  &__img{
    max-width: 105px;
    max-height:105px;
    margin: 0;
    & > img{
      width:100%;
    }
  }
  &__img--gadget{
    max-width: 256px;
    max-height: 504px;
    margin: 0 auto;
    border-radius: 0 ;
  }
  &__img--icon{
    width: 88px;
    height: 88px;
    border-radius: 0;
    margin-bottom: 0;
    margin-top: 1em;
  }
  &__title{
    font-size: $md-h4;
  }
  &__text{
    display: block;
    max-width: 100%;
    color: $gray;
    line-height: 1.3;
    margin:0.338em 0 ;
    text-decoration: none;
    &--black{
      color: $black;
      line-height: 1.5;
    }
    &--upper{
      text-transform: uppercase;
    }
    &--sm{
      font-size: 0.9em;
      font-weight: 100;
    }
    &--lg{
      font-size: $lg-h4;
    }
    &--md{
      font-size: 1.063em;
      font-weight: 100;
    }
    &--main{
      line-height: 1.5;
      font-size: $sm-h4;
    }
  }
  &--aligned-left{
    align-items: flex-start;
    text-align: left;
  }
}
.big-text{
  @extend .section-title;
  color:$black;
  margin: 0 1rem;
}
.price-img{
  max-width: 568px;
  margin: 2.5rem 0;
  &--mob{
    @include  mq(desktop,min){
      display: none;
    }
  }
}
.img-price{
  width: 100%;
}
.b-article--news{
overflow: hidden;
  position: relative;
  max-width: 342px;
  height: auto;
  align-items: flex-start;
  text-align: left;
  border: 1px solid $gray--lightest;
  & .b-article__img{
    max-width: 342px;
    max-height: 183px;
    transition: transform 0.3s ease-out, opacity 0.3s;
  }
  & .b-article__title{
    transition: 1s;
    line-height: 1.2;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  & .b-article__text{
    transition: 1s;
    text-transform: uppercase;
    font-size: $sm-sm;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
  }
  & .b-article_hidden{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    transform: translate(0, 100%);
    transition: transform 0.25s;
  }
  & .b-article__wrap{
    transition: 1s;
  }
}
.b-article--news{
 &:hover .b-article_hidden{
    transition: 1s;
   transform: translate(0, -20px);
  }
  &:hover .b-article__wrap{
     transition: 1s;
     transform: translate(0, 100%);
   }
  &:hover .b-article__img{
    transition: 1s;
  }
}
.b-article--footer{
  max-width: 165px;
  min-width: 155px;
& .b-article__title {
  text-transform: uppercase;
  margin-bottom: 3rem;
}
  & .b-article__item{
    padding: .8rem 0;
    &--border{
      margin-top: 1.2rem;
      padding-top: 1.2rem;
      border-top: 1px solid $gray--light-primary;
    }
  }
  & .b-article__text{
    font:$md-h6 GothamProLight;
    margin: 0;
  }
}
@include mq (tablet,min){
  .b-article--news{
    max-width: 288px;
    & .b-article__title{
      font-size: $md-h5;
      line-height: 1.3;
    }
    & .b-article__text{
      font-size: $md-sm;
    }
  }
}
@include mq (desktop,min){
  .b-article--news{
    max-width: 268px;
  }
}