.b-article{
  display: flex;
  max-width: 343px;
  min-width: 214px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto 1.250em;
  word-wrap: break-word;
  word-break: break-word;
  @include mq(tablet,min){
    text-align: left;
    align-items: flex-start;
  }
&--main{
  max-width: 608px;
  min-width: 230px;
  align-items: left;
  @include mq(tablet-freak,min){
  max-width: 343px;
  min-width: 230px;
}
}
  &__wrap{
    width: 100%;
  }
  &__img{
    max-width: 105px;
    max-height:105px;
    margin: 0;
    & > img{
      width:100%;
    }
  }
  &__img--gadget{
    width: 256px;
    height: 504px;
    border-radius: 0 ;
  }
  &__img--icon{
    width: 88px;
    height: 88px;
    border-radius: 0;
    margin-bottom: 0;
    margin-top: 1em;
  }
  &__text{
    display: block;
    max-width: 100%;
    color: $gray;
    line-height: 1.3;
    margin:0.338em 0 ;
    text-decoration: none;
    &--upper{
      text-transform: uppercase;
    }
    &--sm{
      font-size: 0.9em;
      font-weight: 100;
    }
    &--md{
      font-size: 1.063em;
      font-weight: 100;
    }
    &--main{
      line-height: 1.5;
      font-size: $sm-h4;
    }
  }
  &--aligned-left{
    align-items: flex-start;
    text-align: left;
  }
}

