.base-block {
  background: $white;
}
.base-list{
  &__item {
    display: block;
    line-height: 1.5;
    &:before {
      display: inline-block;
      content: " ";
      width: 12px;
      margin-right: 1rem;
      height: 9px;
      background: url("/img/arrow-item.svg") no-repeat;
      background-size: 100%;
    }
  }
}
.base-item{
 &__title {
    font-size: $md-h1-5;
    @include mq(desktop, min) {
      font-size: $lg-h1-5;
    }
  }
  &__price{
    text-align: center;
  }
}
