.arrow-down{
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  transition: all 0.2s;
  width: 1em;
  margin: 0 0.5em;
  height: 1em;
  background:url("../img/down-arrow.svg")no-repeat no-repeat;
}
.arrow-up{
  cursor: pointer;
  transform: rotate(180deg);
  transition: all 0.2s;
}
.dropdown-list{
  box-shadow: $shadow-secondary;
  max-width: 302px;
  min-width: 230px;
  z-index: 9999;
   position: absolute;
   border: 1px solid gray;
   word-wrap: break-word;
   margin: 0.5em;
   background-color: $white;
   border: 1px solid rgba(201, 201, 201, 0.43);
  display: none;
  &__item{
    text-align: left;
    &:last-child{
     border-top:1px solid $gray--lightest;
    }
  }
  &__title{
    text-align: left;
  }
 }
.item-container{
  transition: 0.5s;
  display: block;
  padding: 1rem 3.2rem;
  &:hover,&:active{
    transition: 0.5s;
    background-color: $orange--light;
  }
  &__text{
    font-size: $sm-sm;
    font-weight: 100;
    margin: 4px 0 4px 45px;
    color:$gray--dark-soft;
    line-height: 1.2;
  }
}
.icon-item{
  float:left;
  margin-right: 1.5rem;
  background: $btn-primary-bgcolor;
  padding: 0.9rem 1.1rem;
  color:$white;
  border-radius: 20px;
  &--big{
      padding: 1.2rem 1.7rem;
      border-radius: 50%;
      font-size: $lg-h2;

  }
  &--price{
    margin: 0;
  }
  &--opteum{
    color: transparent;
    border-radius: 0;
    padding: 0;
    background: url("../img/opteum-icon.svg") no-repeat;
    background-size: 100%;
    content: "";
    width: 32px;
    height: 32px;
  }
}