.form{
  max-width:768px;
  margin: 5rem auto 0 auto;
  background: $white;
  padding: 4.2rem 2.5rem;
  &__wrap{
    max-width: 332px;
    margin: 5rem auto 0 auto;
    display: flex;
    flex-direction: column;
  }
  &__text{
    text-align: center;
    color: $gray;
    font: $sm-h5 GothamProLight;
    @include mq (phone,min){
      font-size: $lg-h4;
    }
  }
  &__btn{
    align-self: center;
  }
}
.field{
  width:100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  &__label{
    text-transform: uppercase;
    font-size: $sm-sm;
    text-align: left;
  }
  &__group{
    margin: 1rem .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.input{
  min-height: 40px;
  font: 16px GothamProRegular;
  border: none;
  border-bottom: 1px solid $gray--light-primary;
  outline: none;
  &:hover{
    outline: none;
  }
  &:focus{
    border-bottom: 2px solid $orange;
  }
  &--error{
    border-bottom: 1px solid red;
  }
}
.checkbox{
  display: none;
}
.label-box{
  position: relative;
  &:before{
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
    border: 1px solid $gray--light-primary;
    border-radius: 20px;
    padding: 4px 4px;
    content: '';
    background-size: 100%;
    width:10px;
    height: 10px;
  }

  &:after{
    position: absolute;
    left: 0;
    background: $btn-primary-bgcolor;
    text-align: center;
    color: $white;
    font-family: FontAwesome;
    content: "\f078";
    border-radius: 24px;
    padding: 3px;
    opacity: 0;
    transition: 0.3s;
  }
}
.checkbox:checked + .label-box:after{
 transition: 0.3s;
  opacity: 1;
}