.form{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width:768px;
  width: calc(96% - 10px);
  margin: 5rem auto 0 auto;
  word-wrap: break-word;
  padding: 4.2rem 1.5rem;
  background: $white;
  border-radius: 4px;
  @include mq (phone-wide,min){
    width: calc(90% - 10px);
    padding: 4.2rem 2.5rem;
  }
  &__row{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: column;
    @include mq (tablet,min){
      flex-direction: row;
    }
  }
  &__col{
    padding: 0  1.2rem 0 0;
    flex: 1 1 auto;
  }
  &__line{
    border-bottom: 1px solid $gray--lightest;
    width: calc(100% + 5rem);
    margin: 0 -2.5rem;
    @include mq (tablet,min){
      width: calc(100% + 8rem);
      margin: 0 -4rem;
    }
  }
  &__header{
    margin-bottom: 5.6rem;
  }
  &__body{
    margin-top: 2.6rem;
  }
  &--payment{
    width: 100%;
    min-width: 268px;
    min-height: 302px;
    margin: 0 auto;
    @include mq (tablet,min){
      margin: 0;
      padding: 4.2rem 4.0rem;
    }
  }
  &--big{
    width: 100%;
    @include mq (desktop,min){
      width: 744px;
    }
  }
  &--med{
        @include mq (desktop,min){
     max-width: 468px;
    width: 444px;
    }
  }
  &--sm{
      width:288px;
        @include mq (tablet,min){
      max-width: 268px;
    }
  }
  &__wrap{
    max-width: 332px;
    width: 100%;
    margin: 5rem auto 0 auto;
    display: flex;
    flex-direction: column;
  }

  &__btn{
    align-self: center;
    &--payment{
      margin-top: 3rem;
    }
  }
}
.field{
  position: relative;
  width:100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  &--payment{
    margin-top: 2rem;
  }
  &__wrap{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  &__label{
    text-transform: uppercase;
    font-size: $sm-sm;
    text-align: left;
  }
  &__group{
    position: relative;
    margin: 1rem .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__text{
    color: $color-article-text;
    font-size: $md-h3;
  }
  &__input{
    &--wrapped{
      width: 100%;
    }
  }
}
.input{
  min-height: 40px;
  font: 16px GothamProRegular,sans-serif;
  border: none;
  border-bottom: 2px solid $color-form;
  outline: none;
  padding: 0 3rem 0 0;
  &:hover{
    outline: none;
  }
  &:focus, &:hover{
    border-bottom: 2px solid $color-form-focus;
  }
  &--error{
    border-bottom: 2px solid $color-error;
    & + .input__icon{
      box-sizing: border-box;
      position: absolute;
      bottom: 10px;
      right: 0;
      display: inline-block;
      background: url("../img/error-icon.svg")no-repeat;
      background-size: 100%;
      width: 13px;
      height: 13px;
    }
    &:focus{
      border-bottom: 2px solid $color-error;
    }
  }
  &--success{
    border-bottom: 2px solid $color-success;
    & + .input__icon{
      box-sizing: border-box;
      position: absolute;
      bottom: 10px;
      right: 0;
      display: inline-block;
      background: url("../img/success-icon.svg") no-repeat;
      background-size: 100%;
      width: 20px;
      height: 20px;
    }
    &:focus{
      border-bottom: 2px solid $color-success;
    }
  }
  &::-webkit-input-placeholder{
    font-size: $md-h4;
    color:$gray--light-secondary;
  }
}

.checkbox{
  position: absolute;
  visibility: hidden;
}
.label-box{
  position: relative;
  &:hover:before{
    border: 1px solid $orange;
  }
  &:before{
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
    border: 1px solid $gray--light-primary;
    border-radius: 20px;
    padding: 4px 4px;
    content: '';
    background-size: 100%;
    width:10px;
    height: 10px;

  }
  &:after{
    position: absolute;
    left: 0;
    background: $btn-primary-bgcolor;
    text-align: center;
    color: $white;
    font-family: FontAwesome;
    content: "\f078";
    border-radius: 24px;
    padding: 3px;
    opacity: 0;
    transition: 0.3s;
  }
}
.checkbox:checked + .label-box:after{
 transition: 0.3s;
  opacity: 1;
}
.checkbox.input--error + .label-box{
  &:before{
    border: 1px solid $color-error;
  }
}
.form-title{
    font: $sm-h1 GothamProLight,sans-serif;
  text-align: center;
  margin: 0 auto 4rem auto;
    @include mq(tablet,min){
      font-size: $md-h1;
    }
  &--touch-only{
    @include mq (desktop,min){
      display: none;
    }
  }
}