.grid {
&--container{
  max-width: 800px;
  margin: 0 auto;
}
}

.grid__row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  &--nowrap{
    flex-wrap: nowrap;
  }
}

.grid__item {
  flex: 1 1 auto;
  padding: 1.2rem;
}

@include mq(phone-wide,min){
  .grid__row--sm {
    flex-direction: row;
  }
}

@include mq(tablet,min){
  .grid__row--md {
    flex-direction: row;
  }
}
@include mq(tablet-wide,min){
  .grid__row--lg {
    flex-direction: row;
  }
}
