.grid {
&--container{
  max-width: 800px;
  margin: 0 auto;
}
}
.grid--desktop{
  display: none;
}
.grid--taplet{
  display: block;
}
.grid__row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  &--nowrap{
    flex-wrap: nowrap;
  }
  &--align-top{
    align-items: flex-start;
  }
}

.grid__item {
  flex: 1 1 auto;
  padding: 1.2rem;
  &--price-img{
    display: none;
  }
  &--border-bot-mb{
    border-bottom: 1px solid $gray--lightest;
  }
}
.grid__item--mb-hide{
  display: none;
}
@include mq(phone-wide,min){
  .grid__row--sm {
    flex-direction: row;
  }
}

@include mq(tablet,min){

  .grid__row--md {
    flex-direction: row;
  }
  .grid__item--mb-hide{
    display: block;
  }
  .grid__item--border-right{
    border-right: 1px solid $gray--lightest;
  }
  .grid--desktop{
    display: block;
    margin: 2.5rem 0;
  }
  .grid--taplet{
    display: none;
  }
  .grid__row--line{
    align-items: baseline;
  }
}
@include mq(tablet-wide,min){
  .grid__row--lg {
    flex-direction: row;
  }
}
@include mq(desktop,min){
  .grid__item--price-img{
    display: block;
  }
}
.grid__row--base-block{
  align-items: center;
  @include mq (tablet,min){
    align-items: flex-start;
  }
}