
  .img-overlay{
    display: flex;
    justify-content: center;
    top: 30px;
    position: relative;
    width: 300px;
    height: 268px;
    margin: 3.5rem auto;
    &__item{
      position: absolute;
      display:inline-block;
      cursor: pointer;
      width: 196px;
      height: 268px;
    }
    &__arrow{
      position: absolute;
      background: url("/img/arrow.svg")no-repeat;
      background-size: 100%;
      top:-26px;
      left:68px;
      max-width: 152px;
      max-height: 56px;
    }
  }
  .img-overlay--marketing{
    min-width:50%;
    height: 221px;
    & .img-overlay__item{
      height: 165px;
    }
    & .img-overlay__arrow{
      width:69px;
      height: 26px;
    }
  }
  .img-regist{
    background: url("/img/registration.png")no-repeat;
    background-size: 100%;
    left: 0;
    width:118px;
  }
  .img-exchange{
    background: url("/img/drivers-exchange.png")no-repeat;
    background-size: 100%;
    left: 15%;
    top: 8px;
    width: 249px;
  }
  .control-driver{
    background: url("/img/driver-control.png")no-repeat;
    background-size: 100%;
    left: 0;
  }
  .control-rating{
    background: url("/img/driver-rating.png")no-repeat;
    background-size: 100%;
    left: 88px;
    top: -41px;
  }


@include mq (tablet-small,min){
  .img-overlay{
    width: 401px;
    height: 324px;
    &__item{
      width: 224px;
      height: 306px;
    }
  }
  .control-driver{
    left: 0;
    transition: 1s;
    &:hover{
      transition: 1s;
      left: -88px;
    }
  }
  .control-rating{
    transition: 1s;
    left: 131px;
    top: -45px;
    &:hover{
      transition: 1s;
      left: 200px;
      top:-22px;
    }
  }
  .img-overlay--marketing{
    min-width:80%;
    height: 351px;
    & .img-overlay__item{
      height: 283px;
    }
    & .img-overlay__arrow{
      top:-35px;
      left:153px;
      width:120px;
      height: 44px;
    }
  }
  .img-regist{
    transition: 1s;
    width:208px;
    &:hover{
      transition: 1s;
      left: -20px;
    }
  }
  .img-exchange{
    left:27%;
    width: 441px;
  }
}
 @include mq (desktop,min){
   .img-overlay{
     width: 439px;
     height: 391px;
     &__item{
       width: 268px;
       height: 366px;
     }
   }
   .control-driver{
     left: 0;
     transition: 1s;
     &:hover{
       transition: 1s;
       left: -70px;
     }
   }
   .control-rating{
     transition: 1s;
     left: 155px;
     top: -54px;
     &:hover{
       transition: 1s;
       right: -120px;
       top:-25px;
     }
   }
   .img-overlay--marketing{
     min-width:61%;
     height: 436px;
     & .img-overlay__item{
       height: 470px;
     }
     & .img-overlay__arrow{
       top:-25px;
       left:165px;
       width:120px;
       height: 44px;
       transform: rotate(20deg);
       z-index: 999;
     }
   }
   .img-regist{
     transition: 1s;
     width:262px;
     &:hover{
       transition: 1s;
       left: -20px;
     }
   }
   .img-exchange{
     left:27%;
     width: 556px;
   }

 }
