.infografic{
  position: relative;
  max-width: 480px;
  margin: 6rem auto 2rem;
  @include mq (desktop,min){
    margin: 9rem auto 2rem;
  }
  &__descr{
    text-align: center;
    margin: 2rem 0;
    @include mq (tablet,min){
      position: absolute;
      text-align: left;
      width: 50%;
    }
    @include mq (tablet,min){
      max-width: 100%;
    }
  }
  &__level{
    position: absolute;
    right: -3%;
    top: 13%;
    color: $gray--light-primary;
    box-shadow: $shadow-secondary;
    padding: 0.6rem 3rem;
    background: $white;
    border: 1px solid $gray--lightest;
    @include mq (phone-wide,min){
      right: 5%;
      top: 22%;
    }
  }
  &__img{
    position: relative;
    max-width: 471px;
    max-height: 280px;
  }
  @include mq (tablet,min){
    max-width: 640px;
    display: flex;
  }
  @include mq (desktop,min){
    max-width: 480px;
    display: block;
  }
}
.infografic-img{
  width: 100%;
  height: 100%;
}
.infografic-piece{
  width: 100%;
  display: flex;
  justify-content: space-between;
  &--motivation{
    flex-wrap: wrap;
    max-width: 540px;
    & .infografic-piece__item{
      min-width: 250px;
      margin: 1.5rem auto;
      @include mq (desktop,min){
    margin-right: 2rem;
      }
    }
  }
  @include mq (tablet,min){
    width: auto;
    margin-left: 3rem;
    flex-direction: column;
    align-self: center;
  }
  @include mq (desktop,min){
    flex-direction: row;
  }
  @include mq (desktop,min){
    margin-left: 0;
  }
  &__item{
    max-width: 300px;
    margin:0 auto;
    @include mq (phone-wide,min){
      flex: 1;
      margin-right: 1rem;
    }
  }
}
.graf-text{
  color: $gray;
  line-height: 1.5;
  &--sm{
    font-size: $sm-sm;
  }
  &--big{
    text-transform: uppercase;
    font-size: $sm-sm;
    @include mq (desktop,min){
      font-size: $lg-h5;
    }
  }
}
.main-text{
  display: inline-block;
  color: $black;
  padding-bottom: .5rem;
  &--sm{
  font-size: $sm-h1;
  }
  @include mq(tablet,min){
    font-size: $lg-h3;
  }
  &--border-orange{
    border-bottom: 3px solid ;
    border-color: $orange;
  }
  &--border-green{
    border-bottom: 3px solid $color-success;
  }
  &--big{
    font-size: $sm-h1;
    @include mq(desktop,min){
      font-size: $md-h1;
    }
  }
  &--iconed{
    display: inline-block;
    &:after{
      display: inline-block;
      content: "";
      width: 105px;
      height: 29px;
      margin-left: 2rem;
    }
  }
  &--iconed-fail:after{
    background: url("../img/line-fail.svg") no-repeat;
  }
  &--iconed-up:after{
    background: url("../img/line-up.svg") no-repeat;
  }
}
.result{
  display: none;
  box-sizing: border-box;
  text-align: center;
  max-width: 124px;
  padding: 0 1rem;
  border: 1px solid $gray--light-secondary;
  border-radius: 5px;
  @include mq (tablet,min){
    display: block;
  }
  &__text{
    margin: .4rem 0;
  }
  &__text--iconed:before{
    display: inline-block;
    content: "";
    margin-right:0.8rem;
    background: url("../img/graph-arrowup-green.svg") no-repeat;
    width: 9px;
    height: 15px;

  }
}