.jumbotron{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  word-break: break-word;
  word-wrap: break-word;
  &__text{
    display: none;
    font: $lg-h3 GothamProLight;
    color: gray;
    line-height: 1.5;
    &--left{
      text-align: left;
    }
    @include mq (tablet,min){
      display: block;
      font-size: $md-h3;
    }
    @include mq(desktop,min){
      font-size: $lg-h3;
    }
  }
  &__title{
    max-width: 700px;
    margin: 2rem 0;
    text-align: center;
    font: $sm-h1 GothamProLight;
    color: $gray--dark;
    &--left{
      text-align: left;
    }
    @include mq(tablet,min){
      font-size: $md-h1;
    }
    @include mq(desktop,min){
      font-size: $lg-h1;
    }
  }
  &__btn{
    font-size: $sm-h2;
    padding: 0.8em 1.4em;
    &:after{
      font-family: FontAwesome;
      margin-left: 1rem;
      content: "\f0da";
      color: $white;
    }
    @include mq(tablet,min){
      font-size: $md-h3;
    }
    @include mq(desktop,min){
      font-size: $lg-h3;
    }
  }
  &__wrap{
    position: relative;
    z-index: 999;
    align-self: flex-start;
    background: $blue--lightest;
  }
  &__bg{
    @include mq(desktop,min){
      position: absolute;
      right: 0;
      top:0;
      background: url("/img/jumbotron-uber-bg.png")no-repeat;
      background-size: 100%;
      width: 100%;
      height: 100%;
      max-width: 240px;
      max-height: 575px;
    }
  }
}
.jumbotron-img{
  width: 100%;
  height: 100%;
  box-shadow: $shadow-primary;
}
.img-jumbotron{
  width: 100%;
  position: relative;
  &__img{
    position: relative;
    z-index: 999;
    max-width: 836px;
    max-height: 600px;
    width: 85%;
    margin: auto;
    padding: 1.5em 0 2.5em 0;
  }
}
.jumbotron__uber-text{
  max-width: 669px;
}
.jumbotron-img--uber{
  margin:2rem 0;
  width: 228px;
  height: 166px;
}
.line{
  display: none;
}
@include mq(desktop,min){
  .line{
    background: url("/img/line-pulse.png")no-repeat;
    background-size: 100%;
    width: 100%;
    height: 200px;
    margin: auto;
    display: block;
    z-index: 9;
    position: absolute;
    top:88px;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
