.img-jumbotron{
  width: 100%;
  position: relative;
  &__img{
    position: relative;
    z-index: 9;
    max-width: 836px;
    max-height: 600px;
    width: 85%;
    margin: auto;
    padding: 1.5em 0 2.1rem 0;
    @include mq(desktop,min){
      padding: 1.5em 0 2.5em 0;
    }
    &--uber{
      margin: auto;
      padding-bottom: 0;
    }
  }
}
.jumbotron__uber-text{
}
.jumbotron-img--uber{
  max-width: 228px;
  max-height: 166px;
  min-width: 128px;
  min-height: 66px;
  margin-top: 5rem;
}
.jumbotron{
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  word-break: break-word;
  word-wrap: break-word;
  @include mq (tablet,min){
    padding: 0 1.2rem;
  }
  &__text{
    width: 100%;
    text-align: center;
    font:$sm-h2 GothamProLight,sans-serif;
    color: gray;
    line-height: 1.5;
    &--left{
      text-align: left;
    }
    @include mq (tablet,min){
      font-size: $md-h3;
    }
    @include mq(desktop,min){
      font-size: $lg-h3;
    }
    &--hidden-sm{
      display: none;
      @include mq (tablet,min){
        display: block;
      }
    }
  }
  &__text--uber{
    @include mq (phone-wide, min){
      display: block;
      font-size: $sm-h2;
    }
    @include mq (tablet,min){
      font-size: $md-h3;
  }
    @include mq (desctop,min){
      font-size: $lg-h3;
    }
  }
  &__title{
    max-width: 700px;
    margin: 2rem 0;
    text-align: center;
    font: $sm-h1 GothamProLight,sans-serif;
    color: $gray--dark;
    &--left{
      text-align: left;
    }
    @include mq(tablet,min){
      font-size: $md-h1;
    }
    @include mq(desktop,min){
      font-size: $lg-h1;
    }
    &--motivation{
      margin: 0;
    }
  }
  &__btn{
    font-size: $sm-h2;
    padding: 0.8em 1.4em;
    &:after{
      font-family: FontAwesome;
      margin-left: 1rem;
      content: "\f0da";
      color: $white;
    }
    @include mq(tablet,min){
      font-size: $md-h3;
    }
    @include mq(desktop,min){
      font-size: $lg-h3;
    }
  }
  &__wrap{
    width: 100%;
    padding: 2.8rem 0;
    position: relative;
    z-index: 999;
    background: $blue--lightest;
    @include mq(tablet,min){
      width: 93%;
    }
  }
  &__img-group{
    max-width: 1178px;
    margin: 0 auto;
  }
  &__group{
    max-width: 1100px;
    @include mq (tablet,min){
      align-items: flex-start;
    }
  }
  &__text-wrap{
    max-width: 1178px;
    margin: 0 auto;
    align-items: flex-start;
  }
  &__text-group{
    max-width: 669px;
    width: 75%;
    margin: 4.5rem 0 5.5rem 0;
    @include mq (desktop,min){
      width: 100%;
    }
  }
  &__bg{
    position: absolute;
    right: 0;
    top:0;
    background: url("../img/jumbotron-uber-bg.png")no-repeat;
    width: 20%;
    height: 100%;
    max-width: 140px;
    max-height: 675px;
    @include mq(tablet,min){
      width: 25%;
      max-width: 240px;
      max-height: 575px;
    }
  }
  &__uber-logo{
    position: absolute;
    left: -34px;
    top:40px;
    width: 64px;
    height: 64px;
    background: url("../img/uber-black.svg")no-repeat;
    background-size: 100%;
    @include mq (tablet,min){
      left: -34px;
      top:80px;
      width: 80px;
      height: 80px;
    }
  }
  &__section{
    width: 100%;
  }
  &--uber{
    padding: 0 1.2rem;
    align-items: flex-start;
  }
  &__figure{
    display: flex;
    width: 100%;
    max-width: 275px;
  }
  &__icon{
    margin-right: 2rem;
  }
  &--opteum{
    position: static;
    max-width: 1188px;
    margin: 0 auto;
    padding-right: 0;
    & .grid{
      width: 100%; //ie koctibJl
    }
    & .grid__row{
      align-items: flex-start;
      @include mq(desktop,min){
      flex-wrap: nowrap;
    }
    }
    & .jumbotron__title{
      display: inline-block;
      vertical-align: middle;
    }
    & .jumbotron__figure{
      display: none;
      @include mq (desktop,min){
        margin-top: 7rem;
        display: flex;
      }
    }
    & .jumbotron__btn{
      margin-left: 0;
    }
    & .jumbotron__icon{
      width: 40px;
      height: 40px;
      display: inline-block;
      margin: 0;
      @include mq (desktop,min){
        width: 48px;
        height: 48px;
        margin-right: 1.6rem;
        vertical-align: middle;
      }
    }
    & .jumbotron__text{
      @include mq(desktop,min){
        text-align: left;
      }
    }
    & .jumbotron__text-group{
      width: 100%;
      display: flex;
      margin: 0 auto;
      flex-direction: column;
      align-items: center;
      text-align: center;
      @include mq (desktop,min){
        display: block;
        text-align: left;
      }
    }
  }
  &--price{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    & .jumbotron__text{
      display: block;
      max-width: 100%;
    }
  }
  &--taxigrace{

  }
}
.jumbotron--opteum-price{
  & .jumbotron__icon{
    width: 48px;
    height: 48px;
    margin:0;
  }
}
.img-jumbotron--opteum{
  position: static;
  & .img-jumbotron__img{
    position: relative;
    max-width: 712px;
    max-height:639px;
    margin-right: -1.6rem;
    padding: 0;
    @include mq (desktop,min){
      position: static;
      height: 639px;
      width: 712px;
    }
  }
  & img {
    max-width: 712px;
    max-height:639px;
    width: 100%;
    height: 100%;
    @include mq (desktop,min){
      position: absolute;
      right: 15px;
      width: 100%;
      height: 100%;
    }
  }
}
.uber-group{
  flex-direction: column;
  @include mq (phone-wide,min){
    flex-direction: row;
  }
  @include mq (tablet,min){
    flex-direction: column;
  }
}
.jumbotron-img{
  width: 100%;
  height: 100%;
  box-shadow: $shadow-primary;
}

.line{
  display: none;
}
@include mq(desktop,min){
  .line{
    background: url("../img/line-pulse.png")no-repeat;
    background-size: 100%;
    width: calc(100% + 3.2rem);
    height: 200px;
    margin: auto;
    display: block;
    z-index: 9;
    position: absolute;
    top:88px;
    left: -12px;
    right: 0;
    bottom: 0;
  }
}
.jumbotron--indicators{
  display: block;
  max-width: 1178px;
  margin: 0 auto;
  padding: 0;
}
.jumbotron__text-group--indicator{
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 475px;
  margin: 0 auto;
  display: block;
  & .jumbotron__text{
    text-align: center;
  }
  & .jumbotron__title{
    text-align: center;
  }
  @include mq (desktop,min){
    text-align: left;
    margin-top: 12.4rem;
    margin-left: 1.4rem;
    & .jumbotron__text{
      text-align: left;
    }
    & .jumbotron__title{
      text-align: left;
    }
  }
}
.jumbotron__text-group--graph{
  margin-top: 0;
  @include mq (desktop,min){
    margin-left: 0;
  }
}
.jumbotron--motivation{
  & .jumbotron__text{
    text-align: left;
    max-width: 468px;
    @include mq(tablet,min){
      max-width: 395px;
    }
    @include mq(desktop,min){
      max-width: 468px;
    }
  }
}
