.md-block{
  max-width: 763px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid $gray--light-primary;
  padding: 2.8rem;
 &__title{
   font: $sm-h1 GothamProLight;
   @include mq(tablet,min){
     font-size: $md-h1;
   }
   @include mq (desktop,min){
     font-size: $lg-h1;
   }
   &--jumbotron{
     text-align: left;
     margin-right: auto;
   }
 }
  &__text{
    max-width: 100%;
    color: $gray;
    line-height: 1.5;
    font-weight: 100;
    word-wrap: break-word;
    &--jumbotron{
      font-size: $lg-h3;
    }
  }
  &__img{
    max-width: 179px;
    max-height: 60px;
    margin: 2rem 2.4rem;
    vertical-align: middle;
    &--align-left{
      margin: 2rem 2.4rem 0 -1.2rem;
    }
  }
  &:after{
    display: none;
    width: 10%;
    content: '';
    border-bottom: 1px solid $gray--light-primary;
  }
  &--non-indent{
    border-bottom: none;
  }
  .md-block:last-child{
    border: transparent;
    padding-bottom: 0;
  }
  @include mq(tablet,min){
    padding: 5rem 2.8rem 0 2.8rem;
    border-bottom: 0;
    &:after{
      margin-top: 5rem;
      display: block;
    }
  }
  @include mq(desktop,min){
    padding: 4rem 2.8rem 0 2.8rem;
    &:after{
      margin-top: 8rem;
    }
  }
  &--non-indent{
    padding-top: 0;
    &:after{
      display: none;
    }
  }
  &__wrap{
    max-width: 518px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &--pay{
    &:after{
      display: none;
    }
  }
  &--bordered{
    border-bottom: 1px solid $border-block;
  }
  &--jumbotron{
    max-width: 485px;
    margin: 0 0 0 -2.4rem;
    align-items: left;
    text-align: left;
  }
}
.md-block--price{
  & .md-block__img{
    max-width: 117px;
    max-height: 39px;
  }
 }
.section-title + .md-block{
  padding-top: 0;
}
.md-block:last-child{
  padding-bottom: 2rem;
  border-bottom: 0;
  &:after{
    display: none;
  }
}
.md-title{
  font: $sm-h4 GothamProRegular ;
  color: $black;
  @include mq(tablet,min){
    font-size: $md-h2;
  }
  @include mq(desktop,min){
    font-size: $lg-h2;
  }
}
.md-block.grid__row--item{
  vertical-align: middle;
}
.media-item{
  min-width: 80px;
  padding: 2rem;
  &__text{
    text-transform: uppercase;
    font-size: $sm-smalest;
    @include mq(tablet,min){
    font-size: $sm-sm;
  }
  }
}
.media-icon{
  width: 40px;
  height:40px;
  @include mq(tablet,min){
    width: 48px;
    height:48px;
  }
}
.contacts{
  &__text{
   font-size: $md-h3;
    @include mq (tablet,min){
      font-size: $lg-h3;
    }
  }
}