.md-block{
  max-width: 763px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid $gray--light-primary;
  padding: 2.8rem;

  &__text{
    color: $gray;
    line-height: 1.5;
    font-weight: 100;
    word-wrap: break-word;
  }
  &__img{
    max-width: 323px;
    max-height: 200px;
    margin: 2rem 2.4rem;
    vertical-align: middle;
  }
  &:after{
    display: none;
    width: 10%;
    content: '';
    border-bottom: 1px solid $gray--light-primary;
  }
  .md-block:last-child{
    border: transparent;
    padding-bottom: 0;
  }
  @include mq(tablet,min){
    padding: 5rem 2.8rem 0 2.8rem;
    border-bottom: 0;
    &:after{
      margin-top: 5rem;
      display: block;
    }
  }
  @include mq(desktop,min){
    padding: 4rem 2.8rem 0 2.8rem;
    &:after{
      margin-top: 8rem;
    }
  }
  &--non-indent{
    padding-top: 0;
    &:after{
      display: none;
    }
  }
}
.section-title + .md-block{
  padding-top: 0;
}
.md-block:last-child{
  padding-bottom: 2rem;
  border-bottom: 0;
  &:after{
    display: none;
  }
}
.md-title{
  font: $sm-h4 GothamProRegular ;
  color: $black;
  @include mq(tablet,min){
    font-size: $md-h2;
  }
  @include mq(desktop,min){
    font-size: $lg-h2;
  }
}
.md-block.grid__row--item{
  vertical-align: middle;
}