.nav{
  display: flex;
  flex-direction: column;
  &__item{
    margin: 1.5rem 0 0 0;
  }
  &__link{
    text-transform: uppercase;
    margin: 4rem 4rem;
    padding-bottom: 0.5rem;
    &:hover{
      border-bottom: 2px solid $orange--dark;
    }
  }
}

@include mq(tablet, min) {
  .nav {
    flex-direction: row;
    align-items: baseline;
    &__item {
      margin: 0;
    }
    &__link {
margin: 0 2.4rem 0 0;
    }
  }
}
.burger-icon {
  @include burger(25px, 3px, 5px, #444);
}
.menu-button-js.is-active .burger-icon {
  @include burger-to-cross;
}