.nav{
  text-align: center;
  margin: 0 auto;
  padding: 1rem 0;
  order: 3;
  justify-content: flex-start;
  &--right{
    float: right;
  }
  @include mq(tablet,min){
    width: initial;
    order: inherit;
  }
&--js-visible{
  right: 0;
  left: 0;
}
  &__item{
    display: inline-block;
    margin: 1.5rem;
  }
  &__link{
    border-bottom: 2px solid transparent;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    font-size: $sm-h3;
    &:hover{
      transition: 0.5s;
      border-bottom: 2px solid $orange--dark;
    }
  }
}
.header__menu{
  display: none;
}
@include mq(phone,min){
  .nav__item{
    margin: 1.5rem 1.5rem;
  }
}
@include mq(tablet,min){
  .nav {
    display: block;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 0;
    &__item {
      margin: 2.4rem 2.4rem 2.4rem 0;
    }
    &__link {
      font-size: $md-h5;
      margin: 0;
    }
  }
}
@include mq(tablet-freak,min){
  .nav {
    margin: 0;
    &__item {
      margin: 2.4rem 2.4rem;
    }
  }
}
.burger-icon {
  @include burger(25px, 3px, 5px, #444);
}
.menu-button-js.is-active .burger-icon {
  @include burger-to-cross;
}