.nav{
  position: absolute;
  top: 60px;
  z-index: 99;
  background: white;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  padding: 1rem 0;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: $shadow-secondary;
  @include mq (tablet,min){
    position: static;
    max-width: 480px;
    justify-content: flex-start;
    box-shadow: none;
    margin: 0;
  }

  &--right{
    float: right;
  }
&--js-visible{
  right: 0;
  left: 0;
}
  &__item{
    display: inline-block;
    margin: 1.5rem;
    @include mq (phone-wide,min){
      display: inline-block;
    }
  }
  &__link{
    border-bottom: 2px solid transparent;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    font-size: $sm-h3;
    &:hover{
      transition: 0.5s;
      border-bottom: 2px solid $orange--dark;
    }
  }
}
.header__menu{
  display: none;
}
@include mq(phone,min){
  .nav__item{
    margin: 1.5rem 1.5rem;
  }
}
@include mq(tablet,min){
  .nav {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 0;
    &__item {
      margin: 2.4rem 2.4rem 2.4rem 0;
    }
    &__link {
      font-size: $md-h5;
      margin: 0;
    }
  }
}
@include mq(tablet-freak,min){
  .nav {
    margin: 0;
    &__item {
      margin: 2.4rem 2.4rem;
    }
  }
}
.burger-icon {
  @include burger(25px, 3px, 5px, #444);
}
.menu-button-js.is-active .burger-icon {
  @include burger-to-cross;
}
.nav--blog{
  max-width: 342px;
  margin: 0 auto;
  display: block;
  position: static;
  color: $color-article-text;
  box-shadow: none;
  justify-content: flex-start;
  text-align: left;
  padding: 0 1.2rem;
  @include mq (tablet,min){
    width: 100%;
    max-width: 100%;
    justify-content: center;
    text-align: center;
  }
  @include mq (desktop,min){
    justify-content: flex-start;
    text-align: left;
  }
  &-left{
    & .nav__item{
      margin-left: 0;
      margin-right: 3rem;
      @include mq (tablet,min){
        margin-right: 4rem;
        text-transform: inherit;
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }
  & .nav__link{
    text-transform: inherit;
  }
}