.btn{
  position: relative;
  overflow: hidden;
  background: $btn-primary-bgcolor;
  transition: 1s;
  border:none;
  font-size: $md-h4;
  border-radius: 20rem;
  cursor: pointer;
  color: $white;
  font-family: GothamProRegular;
  margin: 1.5rem;
  padding: 0.8rem 2.4rem;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: $btn-active;
    transform: translate(-50%, -50%);
  }
  &:focus:before {
    width: 100%;
    padding-top: 100%;
    transition: width .2s ease-out, padding-top .2s ease-out;
  }
  &:focus{
    outline: none;
  }
&:hover{
  transition: 1s;
  color: rgba(255, 255, 255, 0.85);
  background: $brn-primary-hover;
}
  &--primary{
    font-size: $lg-h4;
  }
  &--nav{
    font-size: $lg-h5;
    &:after{
      font-family: GothamProRegular;
      content: "Демо";
      @include mq(phone-wide,min){
        content: "Демо-версия";
      }
    }
  }
}
button[disabled]{
  background: $gray--lightest;
  color: $gray;
  &:hover,&:focus{
    background: $gray--lightest;
    color: $gray;
  }
}