
.article{
  max-width: 768px;
  padding: 0 1.2rem;
  margin: 0 auto;
  &__content{
    @include mq (desktop,min){
      width: 968px;
    }
  }
  &__img{
    max-width: 768px;
    margin: auto;
    & > img{
      width: 100%;
    }
    &--non-padding{
     margin: 0 -1.2rem;
    }
  }
  &__text-wrapper{
    padding: 1rem 0;
  }
  &__list{
    list-style-type: disc;
    padding-left: 2rem;
  }
  &__footer{
    margin-top: 7rem;
    padding: 1rem 0;
    border-top: 1px solid $gray--lightest;
  }
}
.article-text{
  font: 16px Georgia;
  line-height: 1.5;
  color: $color-article-text;
  font-size: $md-h4;
}
.text-descr{
  font: $sm-sm GothamProMedium,sans-serif;
  color :  $gray--light-secondary;
  text-align: center;
}
.article-title{
  font-size: $md-h2;
  margin-bottom: 1em;
  @include mq (desktop,min){
    font-size: $lg-h2;
  }
}
@import "article-header";
@import "review";
@import "people";
@import "tags";
@import "photo-block";
@import "social";