.review{
  max-width: 438px;
  word-wrap: break-word;
  margin: 4rem auto;
  &__text{
    font: $md-h2 GeorgiaBold;
    text-align: center;
    font-weight: bold;
    line-height: 1.5;
    @include mq (desktop,min){
      font-size: $md-h1-5;
    }
  }
}