@import "../helpers/_variables";
@import "../helpers/_mixins";

@import "../components/jumbotron";

p{
  line-height: 1.5 !important;
}
.jumbotron__b-article{
  text-align: center;
  align-items: center;

  @include mq (tablet,min){
    min-width: 400px;
    margin:5rem 0 0 0;
    align-items: flex-start;
  }
}
.img-jumbotron__img{
  min-width: 280px;
  max-width: 380px;
  margin: 0 auto;
  @include  mq (desktop,min){
  }
}
.img-jumbotron--contacts {
  margin: 0 auto;
  @include  mq (desktop,min){
  }
}
.b-article__text{
  @include mq (tablet,min){
    color: $color-article-text;
    text-align: left;
  }
}