@import "../helpers/_variables";
@import "../helpers/_mixins";

@import "../components/jumbotron";
@import "../components/item-card";
.card-items{
  max-width: 760px;
  margin-top: 2rem;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  @include mq(desktop,min){
    justify-content: flex-start;
  }
}
.base-text{
  margin-bottom: 0;
}
.b-page__section{
  border-bottom: none;
}
.jumbotron{
  padding: 0 1.2rem;
}