<form class="form">
    <p class="form__title section-title">Оставить заявку</p>
    <p class="form__text">Наши менеджеры свяжутся с вами</p>
    <div class="form__wrap">
        <div class="field">
            <label class="form__text field__label">Имя</label>
            <input name="name" type="text" class="field__input input">
            <i class="input__icon"></i>
        </div>
        <div class="field">
            <label class="form__text field__label">EMAIL</label>
            <input name="email" type="text" class="field__input input">
            <i class="input__icon"></i>
        </div>
        <div class="field">
            <label class="form__text field__label">Телефон</label>
            <input name="number" type="text" class="field__input input" placeholder="+7(999)888-77-66">
            <i class="input__icon"></i>
        </div>
        <div class="field field--radios">
            <p class="form__text field__label">Деятельность</p>
            <div class="field__group">
                <input name="type" class="checkbox" id="taxopark" type="radio" checked value="taxopark">
                <label class="label-box" for="taxopark">Таксопарк</label>
                <input name="type" class="checkbox" id="driver" type="radio" value="driver">
                <label class="label-box" for="driver">Водитель</label>
            </div>
        </div>
        <button class="btn form__btn">Оставить заявку</button>
    </div>
</form>