
<div class="b-page__section b-page__section--jumbotron">
    <div class="jumbotron">
        <div class="grid">
            <div class="grid__row grid__row--md">
                <div class="grid__item">
                    <div class="jumbotron__text-group">
                        <p class="title-text jumbotron__title">Программа для HR отдела</p>
                        <p class="title-text jumbotron__text">Сделайте шаг от электронных таблиц к современной системеуправления кадрами. Мы предлагаем инструменты для:</p>
                        <div class="jumbotron__instruments">
                            <div class="jumbotron__row">
                                <div class="short-block">
                                    <img width="37" height="33" src="img/tabelly/communication.svg" alt="" class="short-icon">
                                    <p class="base-text base-text--white">Коммуникации</p>
                                </div>
                                <div class="short-block">
                                    <img width="37" height="33" src="img/tabelly/payments.svg" alt="" class="short-icon">
                                    <p class="base-text base-text--white">Выплат</p>
                                </div>
                                <div class="short-block">
                                    <img width="37" height="33" src="img/tabelly/reports.svg" alt="" class="short-icon">
                                    <p class="base-text base-text--white">Учета</p>
                                </div>
                            </div>
                        </div>
                        <button href="#form" class="nav-anchor btn jumbotron__btn">Попробовать</button>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="img-jumbotron img-jumbotron--opteum">
                        <div class="img-jumbotron__img">
                            <img src="img/tabelly/jumbotron-tabelly.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>