<div class="b-page__section b-page__section--jumbotron b-page__section--jumbotron-indicators">
        <div class="jumbotron jumbotron--indicators">
    <div class="jumbotron__text-group jumbotron__text-group--indicator">
        <p class="title-text jumbotron__title">Новые инструменты для мотивации Gett</p>
        <p class="title-text jumbotron__text">Система будет следить за средним рейтингом, количеством отмен, индексом занятости водителей и принимать решения для сохранения качества и роста выручки.</p>
        <button href="#form" class="nav-anchor btn btn-lg jumbotron__btn">Тестировать</button>
    </div>
</div>
</div>