<div class="b-page__section b-page__section--jumbotron">
    <div class="jumbotron">
        <p class="title-text jumbotron__text">Единая система для учет Uber, Gett и Yandex.Taxi</p>
        <p class="title-text jumbotron__title">Программа для современного таксопарка</p>
        <a href="#form" class="nav-anchor btn btn-lg jumbotron__btn">Подключить за 5 минут</a>
        <div class="img-jumbotron">
            <div class="line line-left"></div>
            <div class="img-jumbotron__img">
                <img class="jumbotron-img" src="img//jumbotron.jpg" alt="">
            </div>
        </div>
    </div>
</div>