<div class="b-page__section b-page__section--jumbotron b-page__section--jumbotron-opteum">
    <div class="jumbotron jumbotron--opteum">
        <div class="grid">
            <div class="grid__row grid__row--md">
                <div class="grid__item">
                    <div class="jumbotron__text-group">
                        <img class="jumbotron__icon" src="img/opteum-icon.svg" alt="">
                        <p class="title-text jumbotron__title">Оптеум</p>
                        <p class="title-text jumbotron__text">Сделает работу Ваших диспетчеров и водителей максимально эффективной и даст инструменты для работы со спутниковым мониторингом, колл-центром и СМС.</p>
                        <a href="#form"  class="nav-anchor btn btn-lg jumbotron__btn">Попробовать бесплатно</a>
                        <div class="jumbotron__figure">
                            <img src="img/rocket.svg" class="jumbotron__icon">
                            <p class="title-text jumbotron__text">Быстрое внедрение</p>
                        </div>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="img-jumbotron img-jumbotron--opteum">
                        <div class="img-jumbotron__img">
                            <img src="img/jumbotron-opteum.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>