<div class="b-page__section b-page__section--jumbotron b-page__section--jumbotron--uber">
    <div class="jumbotron">
        <p class="title-text jumbotron__title">Программное обеспечение для партнеров Uber</p>
        <p class="title-text jumbotron__text">Сделает работу Ваших диспетчеров и водителей максимально эффективной и даст инструменты для работы со спутниковым мониторингом, колл-центром и СМС.</p>
        <div class="jumbotron__wrapper">
            <div class="grid">
                <div class="grid__row grid__row--md">
                    <div class="grid__item">
                        <div class="img-jumbotron">
                            <div class="img-jumbotron__img">
                                <img class="jumbotron-img" src="img/jumbotron.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="grid__item">
                        <div class="grid">
                            <dib class="grid__row grid__row--nowrap grid__row--sm">
                                <div class="grid__item">
                                    <img class="jumbotron-img jumbotron-img--uber" src="img/uber-city.png" alt="">
                                </div>
                                <div class="grid__item">
                                    <div class="b-article">
                                        <p class="b-article-title">Легкое управление</p>
                                        <p class="b-article__text">Подключайте несколько личных кабинетов Uber и управляйте ими легко из одного приложения.
                                            <br> <br>Мотивация водителей, подгрузка фродов, выдача зарплаты теперь все это не составляет проблем.</p>
                                    </div>
                                </div>
                            </dib>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>