<div class="b-page__section">
    <div class="jumbotron jumbotron--404 grid">
        <div class="grid__row grid__row--nowrap grid__row--md">
            <div class="grid__item">
                <div class="jumbotron__text-group jumbotron__text-group--contacts">
                    <p class="base-text base-text--title-big">Контакты</p>
                    <p class="base-text base-text--med base-text--soft  base-text--font-med jumbotron__text-indent">423800, Россия, Набережные Челны, Машиностроительная, 91</p>
                    <p class="base-text base-text--soft  base-text--font-med jumbotron__text-indent">Звоните на +7 (498) 619-57-44, +7 (951) 067-73-10,+7 (917) 911-13-88 или пишите на info@opteum.ru</p>
                    <div class="b-article jumbotron__b-article">
                        <p class="base-text base-text--title-md">Финансовый отдел</p>
                        <p class="b-article__text">+7 (498) 619-57-44 <br> info@opteum.ru</p>
                    </div>
                    <div class="b-article jumbotron__b-article">
                        <p class="base-text base-text--title-md">Коммерческий отдел</p>
                        <p class="b-article__text">+7 (498) 619-57-44 <br> info@opteum.ru</p>
                    </div>
                </div>
            </div>
            <div class="grid__item">
                <div class="img-jumbotron img-jumbotron--contacts">
                    <div class="img-jumbotron__img">
                        <img src="/img/building.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>