<div class="b-page__section b-page__section--jumbotron">
    <div class="jumbotron">
        <p class="title-text jumbotron__text">Теперь легко загрузить водителя заказами и вести учет</p>
        <p class="title-text jumbotron__title">Программа для современного таксопарка</p>
        <button class="btn btn-lg jumbotron__btn">Подключить за 5 минут</button>
        <div class="img-jumbotron">
            <img class="line line-left" src="img/line_left.svg">
            <div class="img-jumbotron__img">
                <img class="jumbotron-img" src="img/jumbotron.jpg" alt="">
            </div>
            <img class="line line-right" src="img/line_right.svg">
        </div>
    </div>
</div>