<div class="modal modal--request">
    <div class="modal__close modal__close--slider"><img src="img/cross-out.svg"class="cross-out"></div>
    <div class="modal__body modal__body--request">
        <p class="modal__title b-article__title article-title"></p>
        <div class="modal__content">
            <div class="grid">
                <div class="grid__row grid__row--md">
                    <div class="grid__item grid__item--desktop-only">
                        <div class="grid md-block md-block--jumbotron ">
                            <p class="md-block__title md-block__title--jumbotron">Оставить заявку</p>
                            <p class="md-block__text md-block__text--jumbotron">
                                Более 46 клиентов ежедневно пользуются приложением Таксиграция, попробуйте и Вы. Оцените
                                7-дневную пробную версию Таксиграции совершенно бесплатно.
                            </p>
                            <div class="grid__row grid__row--md ">
                                <div class="grid__item">
                                    <img class="md-block__img md-block__img--align-left" src="img/taxiritm.png" alt="">
                                </div>
                                <div class="grid__item">
                                    <img class="md-block__img md-block__img--align-left" src="img/956.png" alt="">
                                </div>
                                <div class="grid__item">
                                    <img class="md-block__img md-block__img--align-left" src="img/788.svg" alt="">
                                </div>
                                <div class="grid__item">
                                    <img class="md-block__img md-block__img--align-left" src="img/kamaz.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid__item">
                        <p class="form-title form-title--touch-only">Оставить заявку</p>
                        <form class="form form--request modal__form">
                            <p class="base-text base-text--center base-text--soft base-text--sm-bigger">Заполните заявку, и наши менеджеры свяжутся с вами</p>
                            <div class="form__wrap">
                                <div class="field">
                                    <label class="base-text base-text--upper base-text--soft">Имя</label>
                                    <input name="name" type="text" class="field__input input">
                                    <i class="input__icon"></i>
                                </div>
                                <div class="field">
                                    <label class="base-text base-text--upper base-text--soft">EMAIL</label>
                                    <input name="email" type="text" class="field__input input">
                                    <i class="input__icon"></i>
                                </div>
                                <div class="field">
                                    <label class="base-text base-text--upper base-text--soft">Телефон</label>
                                    <input name="number" type="text" class="field__input input" placeholder="+7(999)888-77-66">
                                    <i class="input__icon"></i>
                                </div>
                                <div class="field field--radios">
                                    <p class="base-text base-text--upper base-text--soft">Деятельность</p>
                                    <div class="field__group">
                                        <input name="type" class="checkbox" id="taxopark" type="radio" checked value="org">
                                        <label class="label-box" for="taxopark">Таксопарк</label>
                                        <input name="type" class="checkbox" id="driver" type="radio" value="driver">
                                        <label class="label-box" for="driver">Водитель</label>
                                    </div>
                                </div>
                                <button class="btn form__btn">Оставить заявку</button>
                            </div>
                        </form>

                    </div>
                    <div class="grid__item grid__item--touch-only">
                        <div class="grid md-block">
                            <div class="grid__row grid__row--md ">
                                <p class="md-block__text">
                                    Более 46 клиентов ежедневно пользуются приложением Таксиграция, попробуйте и Вы. Оцените
                                    7-дневную пробную версию Таксиграции совершенно бесплатно.
                                </p>
                                <div class="grid__item">
                                    <img class="md-block__img" src="img/taxiritm.png" alt="">
                                </div>
                                <div class="grid__item">
                                    <img class="md-block__img" src="img/956.png" alt="">
                                </div>
                                <div class="grid__item">
                                    <img class="md-block__img" src="img/788.svg" alt="">
                                </div>
                                <div class="grid__item">
                                    <img class="md-block__img" src="img/kamaz.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>