<div class="modal modal--status modal-success">
    <div class="modal__close">x</div>
    <div class="modal__body">
        <p class="modal__title b-article__title article-title"></p>
        <div class="modal__content">
            <p class="article-title modal__text">Ваш запрос отправлен. Вам перезвонит специалист в течение дня.</p>
        </div>
    </div>
</div>
<div class="modal modal--status modal-failed">
    <div class="modal__close">x</div>
    <div class="modal__body">
        <p class="modal__title article-title article-title--md "></p>
        <div class="modal__content">
            <p class="article-title modal__text">К сожалению, произошла ошибка :(</p>
        </div>
    </div>
</div>