<div class="section section--news news">
                <ul class="nav nav--blog nav--blog-left">
                    <li class="nav__item"><a href="" class="nav__link">Все</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Кейсы</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Наши новости</a></li>
                    <li class="nav__item"><a href="blog.html" class="nav__link">Блог</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">СМИ о нас</a></li>
                </ul>

    <div class="grid">
        <div class="grid__row grid__row--md">
            <div class="grid__item">
                <div class="b-article b-article--news">
                    <a class="b-article__news-wrap" href="#article">
                        <div class="b-article__img">
                            <img class="article-img" src="img/news-func.svg" alt="">
                            <div class="b-article_hidden">
                                 <button class="btn btn--more">Читать статью</button>
                             </div>
                        </div>
                    </a>
                    <div class="b-article__wrap">
                        <a href="#news" class="special-link b-article__link">Наши новости</a>
                        <p class="b-article__title article-title">Мы добавили в приложение новые функции</p>
                        <p class="b-article__text">4 ФЕВ, 2017</p>
                    </div>
                </div>

            </div>
            <div class="grid__item">
                <div class="b-article b-article--news">
                    <a class="b-article__news-wrap" href="#article">
                        <div class="b-article__img">
                            <img class="article-img" src="img/news-func.svg" alt="">
                            <div class="b-article_hidden">
                                <button class="btn btn--more">Читать статью</button>
                            </div>
                        </div>
                    </a>
                    <div  class="b-article__wrap">
                        <a href="#news" class="special-link b-article__link">Наши новости</a>
                        <p class="b-article__title article-title">Мы добавили в приложение новые функции</p>
                        <p class="b-article__text">4 ФЕВ, 2017</p>
                    </div>
                </div>

            </div>
            <div class="grid__item">
                <div class="b-article b-article--news">
                    <a class="b-article__news-wrap" href="#article">
                        <div class="b-article__img">
                            <img class="article-img" src="img/news-func.svg" alt="">
                            <div class="b-article_hidden">
                                <button class="btn btn--more">Читать статью</button>
                            </div>
                        </div>
                    </a>
                    <div class="b-article__wrap">
                        <a href="#news" class="special-link b-article__link">Наши новости</a>
                        <p class="b-article__title article-title">Мы добавили в приложение новые функции</p>
                        <p class="b-article__text">4 ФЕВ, 2017</p>
                    </div>
                </div>

            </div>
            <div class="grid__item">
                <div class="b-article b-article--news">
                    <a class="b-article__news-wrap" href="#article">
                        <div class="b-article__img">
                            <img class="article-img" src="img/news-func.svg" alt="">
                            <div class="b-article_hidden">
                                <button class="btn btn--more">Читать статью</button>
                            </div>
                        </div>
                    </a>
                    <div class="b-article__wrap">
                        <a href="#news" class="special-link b-article__link">Наши новости</a>
                        <p class="b-article__title article-title">Мы добавили в приложение новые функции</p>
                        <p class="b-article__text">4 ФЕВ, 2017</p>
                    </div>
                </div>

            </div>
            <div class="grid__item">
                <div class="b-article b-article--news">
                    <a class="b-article__news-wrap" href="#article">
                        <div class="b-article__img">
                            <img class="article-img" src="img/news-func.svg" alt="">
                            <div class="b-article_hidden">
                                <button class="btn btn--more">Читать статью</button>
                            </div>
                        </div>
                    </a>
                    <div class="b-article__wrap">
                        <a href="#news" class="special-link b-article__link">Наши новости</a>
                        <p class="b-article__title article-title">Мы добавили в приложение новые функции</p>
                        <p class="b-article__text">4 ФЕВ, 2017</p>
                    </div>
                </div>

            </div>
            <div class="grid__item">
                <div class="b-article b-article--news">
                    <a class="b-article__news-wrap" href="#article">
                        <div class="b-article__img">
                            <img class="article-img" src="img/news-func.svg" alt="">
                            <div class="b-article_hidden">
                                <button class="btn btn--more">Читать статью</button>
                            </div>
                        </div>
                    </a>
                    <div class="b-article__wrap">
                        <a  href="#news" class="special-link b-article__link">Наши новости</a>
                        <p class="b-article__title article-title">Мы добавили в приложение новые функции</p>
                        <p class="b-article__text">4 ФЕВ, 2017</p>
                    </div>
                </div>

            </div>
            <div class="grid__item">
                <div class="b-article b-article--news">
                    <a class="b-article__news-wrap" href="#article">
                        <div class="b-article__img">
                            <img class="article-img" src="img/news-func.svg" alt="">
                            <div class="b-article_hidden">
                                <button class="btn btn--more">Читать статью</button>
                            </div>
                        </div>
                    </a>
                    <div class="b-article__wrap">
                        <a href="#news" class="special-link b-article__link">Наши новости</a>
                        <p class="b-article__title article-title">Мы добавили в приложение новые функции</p>
                        <p class="b-article__text">4 ФЕВ, 2017</p>
                    </div>
                </div>

            </div>
            <div class="grid__item">
                <div class="b-article b-article--news">
                    <a class="b-article__news-wrap" href="#article">
                        <div class="b-article__img">
                            <img class="article-img" src="img/news-func.svg" alt="">
                            <div class="b-article_hidden">
                                <button class="btn btn--more">Читать статью</button>
                            </div>
                        </div>
                    </a>
                    <div class="b-article__wrap">
                        <a href="#news" class="special-link b-article__link">Наши новости</a>
                        <p class="b-article__title article-title">Мы добавили в приложение новые функции</p>
                        <p class="b-article__text">4 ФЕВ, 2017</p>
                    </div>
                </div>

            </div>
            <div class="grid__item">
                <div class="b-article b-article--news">
                    <a class="b-article__news-wrap" href="#article">
                        <div class="b-article__img">
                            <img class="article-img" src="img/news-func.svg" alt="">
                            <div class="b-article_hidden">
                                <button class="btn btn--more">Читать статью</button>
                            </div>
                        </div>
                    </a>
                    <div class="b-article__wrap">
                        <a href="#news" class="special-link b-article__link">Наши новости</a>
                        <p class="b-article__title article-title">Мы добавили в приложение новые функции</p>
                        <p class="b-article__text">4 ФЕВ, 2017</p>
                    </div>
                </div>

            </div>
            <div class="grid__item">
                <div class="b-article b-article--news">
                    <a class="b-article__news-wrap" href="#article">
                        <div class="b-article__img">
                            <img class="article-img" src="img/news-func.svg" alt="">
                            <div class="b-article_hidden">
                                <button class="btn btn--more">Читать статью</button>
                            </div>
                        </div>
                    </a>
                    <div class="b-article__wrap">
                        <a href="#news" class="special-link b-article__link">Наши новости</a>
                        <p class="b-article__title article-title">Мы добавили в приложение новые функции</p>
                        <p class="b-article__text">4 ФЕВ, 2017</p>
                    </div>
                </div>

            </div>
            <div class="grid__item">
                <div class="b-article b-article--news">
                    <a class="b-article__news-wrap" href="#article">
                        <div class="b-article__img">
                            <img class="article-img" src="img/news-func.svg" alt="">
                            <div class="b-article_hidden">
                                <button class="btn btn--more">Читать статью</button>
                            </div>
                        </div>
                    </a>
                    <div class="b-article__wrap">
                        <a href="#news" class="special-link b-article__link">Наши новости</a>
                        <p class="b-article__title article-title">Мы добавили в приложение новые функции</p>
                        <p class="b-article__text">4 ФЕВ, 2017</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>