<div class="section section--news news">
    <div class="grid">
        <div class="grid__row grid__row--centered grid__row--md">
            <div class="grid__item"><p class="section-title section-title--left">Наши новости</p></div>
            <div class="grid__item grid__item--mb-hide">
                <ul class="nav nav--news nav--right">
                    <li class="nav__item">
                        <a href="#" class="nav__link">Блог</a>
                    </li>
                    <li class="nav__item"><a href="#" class="nav__link">Наши новости</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Кейсы</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">СМИ о нас</a></li>
                </ul></div>
        </div>
    </div>
    <div class="grid">
        <div class="grid__row grid__row--md">
            <div class="grid__item">
                <a href="#" class="b-article b-article--news">
                    <div class="b-article__img">
                        <img class="article-img" src="img/news-telegram.jpg" alt="">
                        <div class="b-article_hidden">
                            <button class="btn btn--more">Читать статью</button>
                        </div>
                    </div>
                    <div class="b-article__wrap">
                        <p class="b-article__title article-title">Телеграм-бот для поддержки водителей</p>
                        <p class="b-article__text">20 ФЕВ, 2017</p>
                    </div>
                </a>
            </div>
            <div class="grid__item">
                <a href="#" class="b-article b-article--news">
                    <div class="b-article__img">
                        <img class="article-img" src="img/news-func.svg" alt="">
                        <div class="b-article_hidden">
                            <button class="btn btn--more">Читать статью</button>
                        </div>
                    </div>
                    <div class="b-article__wrap">
                        <p class="b-article__title article-title">Мы добавили в приложение новые функции</p>
                        <p class="b-article__text">4 ФЕВ, 2017</p>
                    </div>
                </a>

            </div>
            <div class="grid__item">
                <a href="#" class="b-article b-article--news">
                    <div class="b-article__img">
                        <img class="article-img" src="img/news-instr.jpg" alt="">
                        <div class="b-article_hidden">
                            <button class="btn btn--more">Читать статью</button>
                        </div>
                    </div>
                    <div class="b-article__wrap">
                        <p class="b-article__title article-title">Как подключиться к Gettaxi? Инструкция.</p>
                        <p class="b-article__text">10 янв, 2017</p>
                    </div>
                </a>

            </div>
            <div class="grid__item">
                <a href="#" class="b-article b-article--news">
                    <div class="b-article__img">
                        <img class="article-img" src="img/news-modulebank.jpg" alt="">
                        <div class="b-article_hidden">
                            <button class="btn btn--more">Читать статью</button>
                        </div>
                    </div>
                    <div class="b-article__wrap">
                        <p class="b-article__title article-title">Автоматическая выгрузка платежек в клиент-банк
                            и 1С</p>
                        <p class="b-article__text">20 ФЕВ, 2017</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>