<div class="b-page__section">
    <div class="jumbotron jumbotron--404 grid">
            <div class="grid__row grid__row--md grid__row--align-top">
                <div class="grid__item">
                    <div class="jumbotron__text-group jumbotron__text-group--404">
                        <p class="base-text base-text--title-biggest">404</p>
                        <p class="base-text base-text--title-big base-text--soft">Страница не найдена</p>
                        <p class="base-text base-text--med base-text--soft jumbotron__text-indent">Неправильно набран адрес, или такой страницы на сайте больше не существует.</p>
                        <a href="/" class="btn btn-lg jumbotron__btn jumbotron__btn--404">Вернуться на главную</a>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="img-jumbotron img-jumbotron--404">
                        <div class="img-jumbotron__img img-jumbotron__img--404">
                            <img src="/src_design/img/notfound.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>