<div class="b-page__section b-page__section--jumbotron b-page__section--jumbotron--uber">
    <div class="jumbotron jumbotron--uber">
        <div class="grid jumbotron__section">
            <div class="grid__row jumbotron__text-wrap">
                <div class="grid__item ">
                    <div class="jumbotron__text-group">
                        <p class="jumbotron__title jumbotron__title--left">Программное обеспечение для партнеров Uber</p>
                        <p class="jumbotron__text jumbotron__text--uber jumbotron__text--left">Сделает работу Вашей компании эффективнее за счет автоматического расчета зарплаты, интеграции с банком, а также инструментов для работы с водителями.</p>
                    </div>
                       </div>
            </div>
            <div class="jumbotron__wrap">
                <div class="jumbotron__img-group">
                    <div class="grid__row  grid__row--nowrap grid__row--md jumbotron__group">
                        <div class="grid__item">
                            <div class="img-jumbotron">
                                <div class="img-jumbotron__img img-jumbotron__img--uber">
                                    <img class="jumbotron-img" src="/src_design/img/jumbotron.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="grid__item ">
                            <div class="grid__row grid__row--align-top grid__row--nowrap uber-group">
                                <div class="grid__item grid__item--mb-hide">
                                    <img class="jumbotron-img jumbotron-img--uber" src="/src_design/img/uber-city.png" alt="">
                                </div>
                                <div class="grid__item">
                                    <div class="b-article b-article--jumbotron">
                                        <p class="b-article-title">Легкое управление</p>
                                        <p class="b-article__text">Подключайте несколько кабинетов Uber и управляйте ими легко из одного приложения.
                                            <br> <br>Мотивация водителей, подгрузка фродов, выдача зарплаты теперь все это не составляет проблем.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron__bg">
            <div class="jumbotron__uber-logo"></div>
        </div>
        </div>
    </div>