<div class="b-page__section">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__item">
                    <div class="jumbotron jumbotron--price">
                        <p class="title-text jumbotron__title">Ценообразование</p>
                        <p class="title-text jumbotron__text jumbotron__text-hidden-sm">Мы считаем, что наши продукты должны быть доступны для всех таксопарков, поэтому наши цены просты и честны.</p>
                        <div class="grid__row grid__row--md">
                            <div class="grid__item">
                                <div class="b-article b-article--prices">
                                    <img src="/src_design/img/opteum-icon.svg" alt="" class="icon-opteum">
                                    <p class="b-article__title">Оптеум</p>
                                    <p class="b-article__text">Для классических таксопарков,
                                        у которых есть свои заказы</p>
                                    <img class="article-img" src="/src_design/img/opteum-img.svg">
                                    <a href="/price/opteum" class="btn">Посмотреть цены</a>
                                </div>
                            </div>
                            <div class="grid__item">
                                <div class="b-article b-article--prices">
                                    <div class="icon-item">Т</div>
                                    <p class="b-article__title">Таксиграция</p>
                                    <p class="b-article__text">Для таксопарков, которые работают только с агрегаторами</p>
                                    <img class="article-img" src="/src_design/img/taxigrase-img.svg">
                                    <a  href="/price/taxigrace" class="btn">Посмотреть цены</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>