<div class="b-page__section b-page__section--blue" >
    <div class="section section--md section--md-grid">
        <p class="section-title">Как оплачивать?</p>
        <div class="md-block md-block--bordered md-block--pay">
            <p class="md-block__text">Оплатить использование системы «Оптеум» можно через расчетный счет компании или через перечисленные ниже платженые системы</p>
            <div class="md-block__wrap">
                <div class="media-item">
                    <img src="/src_design/img/pay-qiwi.png" alt="" class="media-icon">
                    <p class="media-item__text">qiwi</p>
                </div>
                <div class="media-item">
                    <img src="/src_design/img/pay-sberbank.svg" alt="" class="media-icon">
                    <p class="media-item__text">сбербанк</p>
                </div>
                <div class="media-item">
                    <img src="/src_design/img/pay-yandex.png" alt="" class="media-icon">
                    <p class="media-item__text">Яндекс деньги</p>
                </div>
                <div class="media-item">
                    <img src="/src_design/img/pay-webmoney.svg" alt="" class="media-icon">
                    <p class="media-item__text">web money</p>
                </div>
                <div class="media-item">
                    <img src="/src_design/img/pay-visa.png" alt="" class="media-icon">
                    <p class="media-item__text">visa</p>
                </div>
                <div class="media-item">
                    <img src="/src_design/img/pay-mastercard.jpg" alt="" class="media-icon">
                    <p class="media-item__text">mastercard</p>
                </div>
            </div>
        </div>
        <div class="md-block md-block--pay">
            <p class="md-block__text">Финансовый отдел:</p>
            <div class="contacts">
                <p class="md-title contacts__text">+7 (498) 619-57-44</p>
                <p class="md-title contacts__text">help@opteum.ru</p>
            </div>
        </div>
    </div>

</div>