<div class="b-page__section b-page__section--indicators">
    <div class="section">
        <p class="section-title">Индикаторы <sup>Скоро</sup></p>
        <div class="section__img ">
            <div class="img-overlay">
                <div class="img-overlay__item control-driver"></div>
                <div class="img-overlay__item control-rating"></div>
            </div>
        </div>
        <div class="grid grid--container">
            <div class="grid__row grid__row--nowrap grid__row--md">
                <div class="grid__item">
                    <div class="b-article">
                        <div class="b-article__img">
                            <img class="article-img" src="/src_design/img/control-state.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">контроль штата</p>
                        <p class="b-article__text">Контроль уменьшения количества  водителей, работающих в таксопарке</p>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="b-article">
                        <div class="b-article__img">
                            <img class="article-img" src="/src_design/img/control-rating.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">Контроль рейтинга</p>
                        <p class="b-article__text">Контроль рейтинга водителей для повышения качества сервиса</p>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="b-article">
                        <div class="b-article__img">
                            <img class="article-img" src="/src_design/img/control-motivation.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">Мотивация</p>
                        <p class="b-article__text">Мотивация водителя для перевыполнения плана по заказам</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>