<div class="b-page__section b-page__section--header">
<div class="section header">
    <a href="/uber" class="logo-company">Opteum</a>
        <ul class="header__menu nav">
            <li class="nav__item"><a href="#uber_pluses" class="nav-anchor nav__link">Возможности</a></li>
        </ul>
        <a href="#form" class="nav-anchor btn btn--primary  btn--nav header__btn btn--action" ></a>
        <a href="javascript:void(0)" class="header__burger menu-button-js">
            <span class="burger-icon"></span>
        </a>
</div>
</div>