<div class="b-page__section b-page__section--non-border b-page__section--gradient">
    <div class="section">
        <div class="jumbotron jumbotron--opteum-price">
          <img class="jumbotron__icon" src="/src_design/img/opteum-icon.svg" alt="">
            <p class="title-text jumbotron__title">Оптеум</p>
            <p class="title-text jumbotron__text">Софт для классических таксопарков, у которых есть свои заказы</p>
        </div>
        <div class="grid">
            <div class="grid__row grid__row--base-block grid__row--md">
                <div class="grid__item ">
                    <div class="base-item base-item--opteum base-item--white">
                        <p class="base-item__title">Эконом</p>
                        <div class="base-item__line"></div>
                        <p class="b-article__text base-item__text">Лимит заказов: 5000 руб. в месяц, первый платеж за 2 месяца</p>
                        <p class="base-item__price b-article__text"><span class="base-item__text base-item__text--big base-item__text--bigest">12 990</span>руб/мес</p>
                        <ul class="base-list">
                            <li class="base-list__item b-article__text">Приложение для водителя</li>
                            <li class="base-list__item b-article__text">Удобное рабочее место диспетчера</li>
                            <li class="base-list__item b-article__text">GPS-мониторинг</li>
                            <li class="base-list__item b-article__text">Отчеты</li>
                            <li class="base-list__item b-article__text">Call-центр, СМС-оповещение</li>
                        </ul>
                        <a href="javascript:void(0)" data-modal=".modal--request" class="btn base-item__btn base-item__btn--center btn--action">Сделать точный расчет</a>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="base-item base-item--opteum base-item--white">
                        <span class="tie">Популярный</span>
                        <p class="base-item__title">Комфорт</p>
                        <div class="base-item__line"></div>
                        <p class="b-article__text base-item__text">Лимит заказов: 13 000 в месяц, первый платеж за 2 месяца</p>
                        <p class="base-item__price b-article__text"><span class="base-item__text base-item__text--big base-item__text--bigest">19 990</span>руб/мес</p>
                        <ul class="base-list">
                            <li class="base-list__item b-article__text">Все, что есть в тарифе Эконом</li>
                            <li class="base-list__item b-article__text">API для интеграций</li>
                            <li class="base-list__item b-article__text">Личный кабинет для клиентов</li>
                        </ul>
                    <!--
                        <div class="base-item__add">
                            <p class="b-article__text base-item__descr">14 400 руб. /мес, при оплате за 3 месяца</p>
                            <p class="b-article__text base-item__descr">13 600 руб. /мес, при оплате за 6 месяцев</p>
                        </div>
                    -->
                        <a href="javascript:void(0)" data-modal=".modal--request" class="btn base-item__btn base-item__btn--center btn--action">Сделать точный расчет</a>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="base-item base-item--opteum base-item--white">
                        <p class="base-item__title">Бизнес</p>
                        <div class="base-item__line"></div>
                        <p class="b-article__text base-item__text">Лимит заказов: 100 000 в месяц, первый платеж за 2 месяца</p>
                        <p class="base-item__price b-article__text"><span class="base-item__text base-item__text--big base-item__text--bigest">39 990</span>руб/мес</p>
                        <ul class="base-list">
                            <li class="base-list__item b-article__text">Все, что есть в тарифе Комфорт</li>
                            <li class="base-list__item b-article__text">Доработка интерфейса диспетчера</li>
                            <li class="base-list__item b-article__text">Детальная настройка call-центра</li>
                            <li class="base-list__item b-article__text">Разработка дополнительных отчетов</li>
                        </ul>
                        <a href="javascript:void(0)" data-modal=".modal--request" class="btn base-item__btn base-item__btn--center btn--action">Сделать точный расчет</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b-page__section" >
    <div class="section section--md section--md-grid">
        <p class="section-title">Почему облачное решение лучше коробочного?</p>
        <div class="grid">
            <div class="grid__row grid__row--md grid__row--nowrap">
                <div class="grid__item">
                    <div class="b-article b-article--cloud">
                        <div class="b-article__img">
                            <img class="article-img" src="/src_design/img/loyal-drivers.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">Лояльность водителей</p>
                        <p class="b-article__text">Таксиграция позволяет сделать расчеты точными и прозрачными для водителей. Поэтому они дольше работают с вами, рекомендуют другим водителям, увеличивая вашу прибыль.</p>
                    </div>
                    <div class="b-article b-article--cloud">
                        <div class="b-article__img">
                            <img class="article-img" src="/src_design/img/data-save.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">Надежное хранение данных</p>
                        <p class="b-article__text">Наши сервера работают 24/7, чтобы обеспечить постоянный доступ к вашим данным и их сохранность</p>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="b-article b-article--cloud ">
                        <div class="b-article__img">
                            <img class="article-img" src="/src_design/img/scale.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">Масштарирование в других городах</p>
                        <p class="b-article__text">За счет автоматизации части операций (расчет, поддержка водителей) вы сможете быстрее развивать свой бизнес и открывать новые рынки..</p>
                    </div>
                    <div class="b-article b-article--cloud">
                        <div class="b-article__img">
                            <img class="article-img" src="/src_design/img/support.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">Постоянное обновление и поддержка</p>
                        <p class="b-article__text">Мы постоянно совершенствуем наше приложение, поэтому регулярно выпускаем полезные обновления </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<? include_once $_SERVER["DOCUMENT_ROOT"].'/src_design/template/layout/b-page__section-how-pay.html'; ?>