<div class="b-page__section b-page__section--non-border b-page__section--gradient">
    <div class="section section--md">
        <div class="jumbotron jumbotron--taxigrace">
            <div class="icon-item icon-item--big icon-item--price">Т</div>
            <p class="title-text jumbotron__title">Таксиграция</p>
            <p class="title-text jumbotron__text">Софт для таксопарков, которые работают только с агрегаторами</p>
        </div>
        <div class="md-block md-block--price md-block--non-indent">
            <div class="grid">
                <div class="grid__row grid__row--lg">
                    <div class="grid__row--item">
                        <img class="md-block__img" src="/src_design/img/uber.svg" alt="">
                        <img class="md-block__img" src="/src_design/img/yandex.png" alt="">
                        <img class="md-block__img" src="/src_design/img/gett.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="grid base-block">
            <div class="grid__row grid__row--base-block grid__row--md">
                <div class="grid__item grid__item--border-right grid__item--border-bot-mb">
                    <div class="base-item">
                        <p class="base-item__title">Базовый</p>
                        <div class="base-item__line"></div>
                        <!-- <p class="b-article__text base-item__text">Лимит заказов: 400 в месяц, первый платеж за 2 месяца</p>-->
                        <p class="base-item__price base-item__price--sm b-article__text"><span class="base-item__text base-item__text--big">от 6 990</span>руб/мес</p>
                        <ul class="base-list">
                            <li class="base-list__item b-article__text">Приложение для водителя</li>
                            <li class="base-list__item b-article__text">Расчет зарплаты</li>
                            <li class="base-list__item b-article__text">Отчеты</li>
                        </ul>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="base-item base-item--info">
                       <p class="b-article__title">Внимание!</p>
                        <p class="base-item__text base-item__text--left b-article__text">Точная стоимость зависит от параметров вашего таксопарка:</p>
                        <ul class="base-list base-list--more">
                            <li class="base-list__item base-list__item--check b-article__text">Набора функционала</li>
                            <li class="base-list__item base-list__item--geo b-article__text">Региона</li>
                            <li class="base-list__item base-list__item--car b-article__text">Количества машин</li>
                        </ul>
                        <p class="b-article__text base-item__text base-item__text--left">Уточнить цену и подобрать услуги можно у наших менеджеров.</p>
                        <a href="javascript:void(0)" data-modal=".modal--request" class="btn base-item__btn btn--action">Сделать точный расчет</a>

                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

<div class="b-page__section" >
    <div class="section section--md section--md-grid">
        <p class="section-title">Как Таксиграция поможет вашему бизнесу?</p>
        <div class="grid">
            <div class="grid__row grid__row--md grid__row--nowrap">
                <div class="grid__item">
                    <div class="b-article b-article--cloud">
                        <div class="b-article__img">
                            <img class="article-img" src="/src_design/img/loyal-drivers.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">Лояльность водителей</p>
                        <p class="b-article__text">Таксиграция позволяет сделать расчеты точными и прозрачными для водителей. Поэтому они дольше работают с вами, рекомендуют другим водителям, увеличивая вашу прибыль.</p>
                    </div>
                    <div class="b-article b-article--cloud">
                        <div class="b-article__img">
                            <img class="article-img" src="/src_design/img/data-save.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">Надежное хранение данных</p>
                        <p class="b-article__text">Наши сервера работают 24/7, чтобы обеспечить постоянный доступ к вашим данным и их сохранность</p>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="b-article b-article--cloud ">
                        <div class="b-article__img">
                            <img class="article-img" src="/src_design/img/scale.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">Масштарирование в других городах</p>
                        <p class="b-article__text">За счет автоматизации части операций (расчет, поддержка водителей) вы сможете быстрее развивать свой бизнес и открывать новые рынки..</p>
                    </div>
                    <div class="b-article b-article--cloud">
                        <div class="b-article__img">
                            <img class="article-img" src="/src_design/img/support.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">Постоянное обновление и поддержка</p>
                        <p class="b-article__text">Мы постоянно совершенствуем наше приложение, поэтому регулярно выпускаем полезные обновления </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<? include_once $_SERVER["DOCUMENT_ROOT"].'/src_design/template/layout/b-page__section-how-pay.html'; ?>