<div class="b-page__section b-page__section--app b-page__section--blue">
    <div class="section">
        <p class="section-title">Приложение для водителей</p>
        <div class="grid grid--desktop">
            <div class="grid__row grid__row--md">
                <div class="grid__item grid__item--top-indent ">
                    <div class="b-article b-article--aligned-left">
                        <p class="b-article__title article-title article-title--md">Прозрачность доходов</p>
                        <p class="b-article__text b-article__text--md">Водитель видит как формируется заработная плата, а также все выполненные поездки по Uber, Яндекс.Такси и Gett</p>
                    </div>
                    <div class="b-article b-article--aligned-left">
                        <p class="b-article__title article-title article-title--md">Быстрый вывод заработка</p>
                        <p class="b-article__text b-article__text--md">Водитель может оформить запрос на вывод средств на банковскую карту в пару кликов без звонков в парк</p>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="b-article">
                        <div class="b-article__img b-article__img--gadget">
                            <img class="gadget" src="img/Iphone.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="grid__item grid__item--visible grid__item--top-indent">
                    <div class="b-article b-article--aligned-left">
                        <p class="b-article__title article-title article-title--md">Всегда в курсе</p>
                        <p class="b-article__text b-article__text--md">Оповещение водителей о новостях, объявлениях, а также общение через чат</p>
                    </div>
                    <div class="b-article b-article--aligned-left">
                        <p class="b-article__title article-title article-title--md">Kорректировки в одном месте</p>
                        <p class="b-article__text b-article__text--md">Водитель видит почему изменилась стоимость или выплата по заказу</p>
                    </div>
                    <div class="b-article b-article--aligned-left">
                        <div class="b-article__icons">
                            <a href="https://play.google.com/store/apps/details?id=com.opteum.grace.graceva"><img class="icon-img google-play" src="img/GooglePlay.png" alt=""></a>
                            <a href="https://telegram.me/driv_bot"><img class="icon-img telegram" src="img/Telegram.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid--taplet">
            <div class="grid__row grid__row--md">
                <div class="grid__item">
                    <div class="b-article">
                        <p class="b-article__text">Откройте мобильное приложение в Google Play (Таксиграция)</p>
                        <div class="b-article__img b-article__img--icon">
                            <a href="https://play.google.com/store/apps/details?id=com.opteum.grace.graceva"><img width="80px" height="80px" class="market-logo" src="img/market.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="b-article">
                        <p class="b-article__text">Телеграм-бот для службы поддержки водителей</p>
                        <div class="b-article__img b-article__img--icon">
                            <a href="https://telegram.me/driv_bot"> <img class="telegram-mob" src="img/Telegram@2x.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>