<div class="b-page__section b-page__section--integrations b-page__section--blue">
    <div class="section">
        <p class="section-title">Интеграции</p>
        <div class="md-block">
            <p class="md-block__text md-title">Такси</p>
            <p class="md-block__text">Повышайте производительность своего таксопарка с помощью популярных сервисов такси, управлять которыми можно в нашем сервисе. Мы работаем  с крупнейшими агрегаторами такси в России и в мире. В том числе:</p>
            <div class="grid">
                <div class="grid__row grid__row--lg">
                    <div class="grid__row--item">
                        <img class="md-block__img" src="img/uber.svg" alt="">
                        <img  class="md-block__img" src="img/yandex.png" alt="">
                    </div>
                    <div class="grid__row--item">
                        <img class="md-block__img"  src="img/fix-taxi.svg" alt="">
                        <img class="md-block__img"  src="img/gett.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="md-block">
            <p class="md-block__text md-title">Банки и платежные системы</p>
            <p class="md-block__text"></p>
            <div class="grid">
                <div class="grid__row grid__row--lg">
                    <div class="grid__row--item">
                        <img class="md-block__img" src="img/qiwi.png" alt="">
                    </div>
                    <div class="grid__row--item">
                        <img class="md-block__img"  src="img/alfa-bank.png" alt="">
                    </div>
                    <div class="grid__row--item">
                        <img class="md-block__img"  src="img/module-bank.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="md-block">
            <p class="md-block__text md-title">Другие сервисы</p>
            <p class="md-block__text">Топливные системы, чат с водителями и прочие сервисы сделают вашу компанию еще эффективнее</p>
            <div class="grid">
                <div class="grid__row grid__row--lg">
                    <div class="grid__row--item">
                        <img class="md-block__img" src="img/1c.png" alt="">
                    </div>
                    <div class="grid__row--item">
                        <img class="md-block__img"  src="img/telegram-service.png" alt="">
                    </div>
                    <div class="grid__row--item">
                        <img class="md-block__img"  src="img/ppr.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>