<div class="b-page__section b-page__section--price b-page__section">
    <div class="section">
        <p class="section-title">Цены и тарифы</p>
        <div class="grid">
            <div class="grid__row grid__row--md">
                <div class="grid__item">
                    <div class="b-article b-article--price">
                        <p class="b-article__text b-article__text--lg">Стоимость решения</p>
                        <p class="b-article__text b
                    -article__text--lg">От<span class="big-text"> от 6 990</span>руб./мес.</p>
                        <div class="price-img price-img--mob">
                            <img class="img-price" src="img//price.svg" alt="">
                        </div>
                        <p class="b-article__text b-article__text--black">Точная стоимость зависит от набора функционала, региона и количества машин в парке. Уточнить стоимочть и подобрать необходимые модули вы можете вместе с нашим менеджером</p>
                        <a href="#form" class="nav-anchor btn b-article__btn-price btn--primary">Консультация</a>
                    </div>
                </div>
                <div class="grid__item grid__item--price-img">
                    <div class="price-img">
                        <img class="img-price" src="img//price.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>