<div class="b-page__section b-page__section--finance">
    <div class="section">
        <p class="section-title">Финансы</p>
        <div class="section__img img-block">
            <div class=" img-block__arrow img-block__arrow--1">
                <p class="orange-text">Выдача зарплаты за 5 минут</p>
            </div>
            <div class=" img-block__arrow img-block__arrow--2">
                <p class="orange-text">Масштабирование бизнеса</p>
            </div>
            <div class="img-block__wrapper">
                <img src="img/finance.jpg" class="img-finance">
                <img src="img/finance-desktop.png" class="img-finance img-finance--desk">
            </div>
            <div class=" img-block__arrow img-block__arrow--3">
                <p class="orange-text">Решение конфликтов с водителями</p>
            </div>
        </div>
        <div class="grid grid--container">
            <div class="grid__row grid__row--nowrap grid__row--md">
                <div class="grid__item">
                    <div class="b-article">
                        <div class="b-article__img">
                            <img class="article-img" src="img/autopayment.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">Автоплатежи</p>
                        <p class="b-article__text">Автоматическое списание комиссии парка, лицензии, аренда и др.</p>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="b-article">
                        <div class="b-article__img">
                            <img class="article-img" src="img/integrations-common.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">Интеграции</p>
                        <p class="b-article__text">Выгрузка документов в 1С, клиент-банк и другие программы</p>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="b-article">
                        <div class="b-article__img">
                            <img class="article-img" src="img/pay.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">Зарплата</p>
                        <p class="b-article__text">Расчет и выдача зарплаты водителям вашего таксопарка за 5 минут</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>