<div class="b-page__section">
    <div class="footer">
        <div class="grid">
            <div class="grid__row grid__row--nowrap grid__row--md grid__row--line">
                <div class="grid__item">
                    <div class="b-article b-article--footer">
                        <a href="#" class="logo-company b-article__title">Opteum</a>
                        <ul>
                            <li class="b-article__item b-article__item--contacts"><a class="b-article__text" href="#">help@opteum.ru</a></li>
                            <li class="b-article__item b-article__item--contacts"><a class="b-article__text" href="#">8 (498) 619- 57-44</a></li>
                            <li class="b-article__item b-article__item--contacts"><a class="b-article__text" href="#">с 8:00 до 18:00 по Москве</a></li>
                            <li class="b-article__item b-article__item--separate b-article__item--contacts"><a class="b-article__text b-article__text--facebook" href="#">f</a></li>

                        </ul>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="grid footer-items">
                        <div class="grid__row grid__row--lined grid__row--md grid__row--line">
                            <div class="grid__item">
                                <div class="b-article b-article--footer">
                                    <p class="b-article__title">Продукты</p>
                                    <ul>
                                        <li class="b-article__item"><a class="b-article__text" href="#">Таксиграция</a></li>
                                        <li class="b-article__item"><a class="b-article__text" href="#">Оптеум: водитель</a></li>
                                        <li class="b-article__item b-article__item--separate"><a class="b-article__text" href="#">Демо-версия</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="grid__item">
                                <div class="b-article b-article--footer">
                                    <p class="b-article__title">О компании</p>
                                    <ul>
                                        <li class="b-article__item"><a class="b-article__text" href="#">СМИ о нас</a></li>
                                        <li class="b-article__item"><a class="b-article__text" href="#">Оптеум: водитель</a></li>
                                        <li class="b-article__item"><a class="b-article__text" href="#">Демо-версия</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="grid__item">
                                <div class="b-article b-article--footer">
                                    <p class="b-article__title">Поддержка</p>
                                    <ul>
                                        <li class="b-article__item"><a class="b-article__text" href="#">Обратная связь</a></li>
                                        <li class="b-article__item"><a class="b-article__text" href="#">Сервис поддержки</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="grid__item">
                                <div class="b-article b-article--footer">
                                    <p class="b-article__title">ЦЕНЫ</p>
                                    <ul>
                                        <li class="b-article__item"><a class="b-article__text" href="#">Калькулятор цен</a></li>
                                        <li class="b-article__item"><a class="b-article__text" href="#">Способы оплаты</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b-page__section b-page__section--underground">
    <p class="b-article__text">© Opteum 2017</p>
</div>