<div class="b-page__section">
    <div class="footer">
        <div class="grid">
            <div class="grid__row footer__row grid__row--nowrap grid__row--md">
                <div class="grid__item">
                    <div class="b-article b-article--footer">
                        <a href="/" class=" base-text base-text--tabelly-theme logo-company">Tabelly</a>
                           <p class="base-text base-text--darker">Программа для HR отдела, помогающая легко начислять зарплту, управляться с отчетами и координировать сотрудников</p>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="grid footer-items">
                        <div class="grid__row footer__row grid__row--md">
                            <div class="grid__item">
                                <a class=" nav-anchor base-text footer-items__text" href="#capabilities">Возможности</a>
                            </div>
                            <div class="grid__item">
                                <a class=" nav-anchor base-text footer-items__text" href="#form">Демо-версия</a>
                            </div>
                            <div class="grid__item">
                                <a class=" base-text footer-items__text" href="/price">Связаться с нами</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="b-page__section b-page__section&#45;&#45;underground">-->
    <!--<div class="section">-->
        <!--<p class="b-article__text">© Opteum <? echo date(Y); ?></p>-->
    <!--</div>-->
<!--</div>-->