<div class="b-page__section">
    <div class="footer">
        <div class="grid">
            <div class="grid__row grid__row--nowrap grid__row--md grid__row--line">
                <div class="grid__item">
                    <div class="b-article b-article--footer">
                        <a href="#" class="logo-company">Opteum</a>
                        <ul>
                            <li class="b-article__item b-article__item--contacts"><a class="b-article__text" href="mailto: sales@opteum.ru">sales@opteum.ru</a></li>
                            <li class="b-article__item b-article__item--contacts"><a class="b-article__text" href="tel:+74986195744">8 (498) 619- 57-44</a></li>
                            <li class="b-article__item b-article__item--contacts"><p class="b-article__text">с 8:00 до 18:00 по Москве</p></li>
                            <li class="b-article__item b-article__item--separate b-article__item--contacts"><a class="b-article__text b-article__text--facebook" href="https://www.facebook.com/opteumtaxi/">f</a></li>

                        </ul>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="grid footer-items">
                        <div class="grid__row grid__row--lined grid__row--md grid__row--line">
                            <div class="grid__item">
                                <div class="b-article b-article--footer">
                                    <p class="b-article__title"></p>
                                    <ul>
                                        <li class="b-article__item"><a class="b-article__text" href="#">Возможности</a></li>
                                        <li class="b-article__item"><a class="b-article__text" href="#">Преимущества</a></li>
                                        <li class="b-article__item"><a class="b-article__text" href="#">Обратная связь</a></li>
                                    </ul>
                                </div>
                            </div> 
                            <div class="grid__item">
                                <div class="b-article b-article--footer">
                                    <p class="b-article__title"></p>
                                    <ul>
                                        <li class="b-article__item b-article__item--separate"><a class="b-article__text" href="#">Демо-версия</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<div class="b-page__section b-page__section&#45;&#45;underground">
    <div class="section">
        <p class="b-article__text">© Opteum <? echo date(Y); ?></p>
    </div>
</div>-->
