<div class="b-page__section b-page__section--header">
<div class="header">
    <a href="#" class="header__link">Opteum</a>
        <ul class="header__menu nav">
            <li class="nav__item"><a href="#" class="nav__link">Продукты</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Цены</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Поддержка</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Кейсы</a></li>
        </ul>
        <button class="btn btn--primary  btn--nav header__btn" q></button>
        <a href="javascript:void(0)" class="header__burger menu-button-js">
            <span class="burger-icon"></span>
        </a>
</div>
</div>