<div class="b-page__section">
    <div class="section">
        <div class="grid__row grid__row--align-top grid__row--md">
            <div class="grid__item">
                <div class="jumbotron jumbotron--indicators">
                    <div class="jumbotron__text-group jumbotron__text-group--indicator jumbotron__text-group--graph">
                        <p class="title-text jumbotron__title">Возврат водителей</p>
                        <p class="title-text jumbotron__text">Возврат водителей которые переставли выполнять заказы. Система будут следить за теми кто не выполнял заказы Х дней и отправлять их сообщение с бонусным тарифом</p>
                        <p class="title-text jumbotron__text">Еще несколько строк текста, поясняющего работу системы. Система будут следить за теми кто не выполнял заказы Х дней и отправлять их сообщение с бонусным тарифом</p>
                    </div>
                </div>
            </div>
            <div class="grid__item">
                <div class="infografic">
                    <div class="infografic__descr">
                        <p class="b-article__title">График возврата</p>
                        <p class="b-article__text">После месяца использования нашего решения</p>
                    </div>
                    <div class="infografic__img">
                        <img src="img//infografic.svg" alt="" class="infografic-img">
                        <div class="infografic__level">
                            <div class="level">50%</div>
                        </div>
                    </div>
                    <div class="infografic-piece">
                        <div class="infografic-piece__item">
                            <p class="graf-text graf-text--sm">Без использования решения</p>
                            <p class="main-text main-text--border-orange main-text--sm">12,7%</p>
                        </div>
                        <div class="infografic-piece__item">
                            <p class="graf-text graf-text--sm">После использования решения</p>
                            <p class="main-text main-text--border-green main-text--sm">54,1%</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="step-row">
            <div class="step__col">
                <div class="b-article b-infografic">
                <div class="step step--first">
                    <div class="step__item">
                        <span class="step__number">1</span>
                    </div>
                </div>
                <div class="b-article__text">
                    Устанавливайте значимое для вас количество дней без заказов
                </div>
                <div class="infografic-obj">
                    <p class="infografic-obj__text">Дней без заказов</p>
                    <input type="text" class="infografic-obj__input" placeholder="14">
                    <img src="img//mouse.svg" alt="" class="infografic-obj__icon">
                </div>
            </div>
                <div class="b-article b-infografic">
                    <div class="step">
                        <div class="step__item"><span class="step__number">2</span></div>
                    </div>
                    <div class="b-article__text">
                        Система анализирует количество дней, которые не выполнялись заказы
                    </div>
                    <div class="infografic-obj infografic-obj--days">
                        <p class="infografic-text">Активные дни</p>
                        <img src="img//graph-days.svg" width="213" height="87" alt="" class="infografic-obj__days">
                    </div>
                </div>
            </div>
            <div class="step__col">
                <div class="b-article b-infografic">
                <div class="step">
                    <div class="step__item"><span class="step__number">3</span></div>
                </div>
                <div class="b-article__text">
                    Система отправляет сообщение с бонусным тарифом
                </div>
                <div class="infografic-obj infografic-obj--grace">
                    <p class="infografic-obj__text-grace">Таксиграция</p>
                    <p class="infografic-obj__grace-descr">Мы повысили коффициент по вашим поездкам до 1,5x</p>
                </div>
            </div>
                <div class="b-article b-infografic">
                    <div class="step step--last">
                        <div class="step__item"><span class="step__number">4</span></div>
                    </div>
                    <div class="b-article__text">
                        Система анализирует количество дней, которые не выполнялись заказы
                    </div>
                    <div class="infografic-obj infografic-obj--orders">
                        <p class="infografic-text infografic-text--orders">Заказы</p>
                        <img src="img//graph-orders.svg" width="213" height="87" alt="" class="infografic-obj__days">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b-page__section">
    <div class="section">
        <div class="grid__row">
            <dib class="grid__item">
                <p class="title-text jumbotron__title jumbotron__title--motivation">Персональная мотивация</p>
            </dib>
        </div>
        <div class="grid__row grid__row--align-top grid__row--md">
            <div class="grid__item jumbotron jumbotron--motivation">
                    <div class="jumbotron__text-group jumbotron__text-group--indicator jumbotron__text-group--graph">
                        <p class="jumbotron__text">Персональный мотивация. Система будет следить за средним вывозом водителя и когда он будет на смене сделает ему спецпредложения за перевыполнения его плана. Например, выполнить пару заказов сверху с пониженной комиссией</p>
                    </div>
            </div>
            <div class="grid__item">
                <div class="infografic-piece infografic-piece--motivation">
                    <div class="infografic-piece__item">
                        <p class="graf-text graf-text--big">Без использования</p>
                        <p class="main-text main-text--iconed main-text--iconed-fail main-text--big">12,7%</p>
                    </div>
                    <div class="infografic-piece__item">
                        <p class="graf-text graf-text--big">С использованием</p>
                        <p class="main-text main-text--iconed main-text--iconed-up main-text--big">54,1%</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid__row grid__row--align-top grid__row--md">
            <div class="grid__item">
                <div class="b-article b-article--motivation">
                    <p class="b-article__title">График среднего вывоза водителя</p>
                    <p class="b-article__text">В качестве едениц измерения используется количество заказов выполненных водителем в час</p>
                </div>
            </div>
            <div class="grid__item">
                <div class="result">
                    <p class="graf-text graf-text--sm  result__text">Вывоз вырос на</p>
                    <p class="main-text main-text--sm result__text result__text--iconed">22,9%</p>
                </div>
            </div>
        </div>
        <img src="img//motivation-desk.svg" alt="" class="section__img section__img--desk">
        <img src="img//motivation-touch.svg" alt="" class="section__img section__img--mob">
        <img src="img//motivation-tablet.png" alt="" class="section__img section__img--tablet">
    </div>
</div>
<div class="b-page__section">
    <div class="section section--news news">
        <div class="grid">
            <div class="grid__row grid__row--centered grid__row--md">
                <div class="grid__item"><p class="section-title section-title--left">Наши новости</p></div>
                <div class="grid__item grid__item--mb-hide">
                    <ul class="nav nav--news nav--right">
                        <li class="nav__item">
                            <a href="blog.html" class="nav__link">Блог</a>
                        </li>
                        <li class="nav__item"><a href="#" class="nav__link">Наши новости</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">Кейсы</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">СМИ о нас</a></li>
                    </ul></div>
            </div>
        </div>
        <div class="grid">
            <div class="grid__row grid__row--md">
                <div class="grid__item">
                    <a href="#" class="b-article b-article--news">
                        <div class="b-article__img">
                            <img class="article-img" src="img//news-telegram.jpg" alt="">
                            <div class="b-article_hidden">
                                <button class="btn btn--more">Читать статью</button>
                            </div>
                        </div>
                        <div class="b-article__wrap">
                            <p class="b-article__title article-title">Телеграм-бот для поддержки водителей</p>
                            <p class="b-article__text">20 ФЕВ, 2017</p>
                        </div>
                    </a>
                </div>
                <div class="grid__item">
                    <a href="#" class="b-article b-article--news">
                        <div class="b-article__img">
                            <img class="article-img" src="img//news-func.svg" alt="">
                            <div class="b-article_hidden">
                                <button class="btn btn--more">Читать статью</button>
                            </div>
                        </div>
                        <div class="b-article__wrap">
                            <p class="b-article__title article-title">Мы добавили в приложение новые функции</p>
                            <p class="b-article__text">4 ФЕВ, 2017</p>
                        </div>
                    </a>

                </div>
                <div class="grid__item">
                    <a href="#" class="b-article b-article--news">
                        <div class="b-article__img">
                            <img class="article-img" src="img//news-instr.jpg" alt="">
                            <div class="b-article_hidden">
                                <button class="btn btn--more">Читать статью</button>
                            </div>
                        </div>
                        <div class="b-article__wrap">
                            <p class="b-article__title article-title">Как подключиться к Gettaxi? Инструкция.</p>
                            <p class="b-article__text">10 янв, 2017</p>
                        </div>
                    </a>

                </div>
                <div class="grid__item">
                    <a href="#" class="b-article b-article--news">
                        <div class="b-article__img">
                            <img class="article-img" src="img//news-modulebank.jpg" alt="">
                            <div class="b-article_hidden">
                                <button class="btn btn--more">Читать статью</button>
                            </div>
                        </div>
                        <div class="b-article__wrap">
                            <p class="b-article__title article-title">Автоматическая выгрузка платежек в клиент-банк
                                и 1С</p>
                            <p class="b-article__text">20 ФЕВ, 2017</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b-page__section b-page__section--blue">
    <form id="form" class="form form--request">
        <p class="form__title section-title">Оставить заявку</p>
        <p class="base-text base-text--soft base-text--center base-text--sm-bigger">Наши менеджеры свяжутся с вами</p>
        <div class="form__wrap">
            <div class="field">
                <label class="base-text base-text--sm base-text--upper base-text--soft">Имя</label>
                <input name="name" type="text" class="field__input input">
                <i class="input__icon"></i>
            </div>
            <div class="field">
                <label class="base-text base-text--sm base-text--upper base-text--soft">EMAIL</label>
                <input name="email" type="text" class="field__input input">
                <i class="input__icon"></i>
            </div>
            <div class="field">
                <label class="base-text base-text--sm base-text--upper base-text--soft">Телефон</label>
                <input name="number" type="text" class="field__input input" placeholder="+7(999)888-77-66">
                <i class="input__icon"></i>
            </div>
            <div class="field field--radios">
                <p class="base-text base-text--sm base-text--upper base-text--soft">Деятельность</p>
                <div class="field__group">
                    <input name="type" class="checkbox" id="taxopark" type="radio" checked value="org">
                    <label class="label-box" for="taxopark">Таксопарк</label>
                    <input name="type" class="checkbox" id="driver" type="radio" value="driver">
                    <label class="label-box" for="driver">Водитель</label>
                </div>
            </div>
            <button class="btn form__btn">Оставить заявку</button>
        </div>
    </form>
    <div class="grid md-block">
        <div class="grid__row grid__row--md ">
            <div class="grid__item">
                <img class="md-block__img" src="img//taxiritm.png" alt="">
            </div>
            <div class="grid__item">
                <img class="md-block__img" src="img//956.png" alt="">
            </div>
            <div class="grid__item">
                <img class="md-block__img" src="img//788.svg" alt="">
            </div>
            <div class="grid__item">
                <img class="md-block__img" src="img//kamaz.svg" alt="">
            </div>
        </div>
        <p class="md-block__text">
            Более 46 клиентов ежедневно пользуются приложением Таксиграция, попробуйте и Вы. Оцените
            7-дневную пробную версию Таксиграции совершенно бесплатно.
        </p>
    </div>
</div>
