<div class="b-page__section">
    <div class="section">
        <div class="grid__row grid__row--align-top grid__row--md">
            <div class="grid__item">
                <div class="jumbotron jumbotron--indicators">
                    <div class="jumbotron__text-group jumbotron__text-group--indicator jumbotron__text-group--graph">
                        <p class="title-text jumbotron__title">Возврат водителей</p>
                        <p class="title-text jumbotron__text">Возврат водителей которые переставли выполнять заказы. Система будут следить за теми кто не выполнял заказы Х дней и отправлять их сообщение с бонусным тарифом</p>
                        <p class="title-text jumbotron__text">Еще несколько строк текста, поясняющего работу системы. Система будут следить за теми кто не выполнял заказы Х дней и отправлять их сообщение с бонусным тарифом</p>
                    </div>
                </div>
            </div>
            <div class="grid__item">
                <div class="infografic">
                    <div class="infografic__descr">
                        <p class="b-article__title">График возврата</p>
                        <p class="b-article__text">После месяца использования нашего решения</p>
                    </div>
                    <div class="infografic__img">
                        <img src="img/infografic.svg" alt="" class="infografic-img">
                        <div class="infografic__level">
                            <div class="level">50%</div>
                        </div>
                    </div>
                    <div class="infografic-piece">
                        <div class="infografic-piece__item">
                            <p class="graf-text graf-text--sm">Без использования решения</p>
                            <p class="main-text main-text--border-orange main-text--sm">12,7%</p>
                        </div>
                        <div class="infografic-piece__item">
                            <p class="graf-text graf-text--sm">После использования решения</p>
                            <p class="main-text main-text--border-green main-text--sm">54,1%</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="step-row">
            <div class="step__col">
                <div class="b-article b-infografic">
                <div class="step step--first">
                    <div class="step__item">
                        <span class="step__number">1</span>
                    </div>
                </div>
                <div class="b-article__text">
                    Устанавливайте значимое для вас количество дней без заказов
                </div>
                <div class="infografic-obj">
                    <p class="infografic-obj__text">Дней без заказов</p>
                    <input type="text" class="infografic-obj__input" placeholder="14">
                    <img src="img/mouse.svg" alt="" class="infografic-obj__icon">
                </div>
            </div>
                <div class="b-article b-infografic">
                    <div class="step">
                        <div class="step__item"><span class="step__number">2</span></div>
                    </div>
                    <div class="b-article__text">
                        Система анализирует количество дней, которые не выполнялись заказы
                    </div>
                    <div class="infografic-obj infografic-obj--days">
                        <p class="infografic-text">Активные дни</p>
                        <img src="img/graph-days.svg" width="213" height="87" alt="" class="infografic-obj__days">
                    </div>
                </div>
            </div>
            <div class="step__col">
                <div class="b-article b-infografic">
                <div class="step">
                    <div class="step__item"><span class="step__number">3</span></div>
                </div>
                <div class="b-article__text">
                    Система отправляет сообщение с бонусным тарифом
                </div>
                <div class="infografic-obj infografic-obj--grace">
                    <p class="infografic-obj__text-grace">Таксиграция</p>
                    <p class="infografic-obj__grace-descr">Мы повысили коффициент по вашим поездкам до 1,5x</p>
                </div>
            </div>
                <div class="b-article b-infografic">
                    <div class="step step--last">
                        <div class="step__item"><span class="step__number">4</span></div>
                    </div>
                    <div class="b-article__text">
                        Система анализирует количество дней, которые не выполнялись заказы
                    </div>
                    <div class="infografic-obj infografic-obj--orders">
                        <p class="infografic-text infografic-text--orders">Заказы</p>
                        <img src="img/graph-orders.svg" width="213" height="87" alt="" class="infografic-obj__days">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b-page__section">
    <div class="section">
        <div class="grid__row">
            <dib class="grid__item">
                <p class="title-text jumbotron__title jumbotron__title--motivation">Персональная мотивация</p>
            </dib>
        </div>
        <div class="grid__row grid__row--align-top grid__row--md">
            <div class="grid__item jumbotron jumbotron--motivation">
                    <div class="jumbotron__text-group jumbotron__text-group--indicator jumbotron__text-group--graph">
                        <p class="jumbotron__text">Персональный мотивация. Система будет следить за средним вывозом водителя и когда он будет на смене сделает ему спецпредложения за перевыполнения его плана. Например, выполнить пару заказов сверху с пониженной комиссией</p>
                    </div>
            </div>
            <div class="grid__item">
                <div class="infografic-piece infografic-piece--motivation">
                    <div class="infografic-piece__item">
                        <p class="graf-text graf-text--big">Без использования решения</p>
                        <p class="main-text main-text--iconed main-text--iconed-fail main-text--big">12,7%</p>
                    </div>
                    <div class="infografic-piece__item">
                        <p class="graf-text graf-text--big">После использования решения</p>
                        <p class="main-text main-text--iconed main-text--iconed-up main-text--big">54,1%</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid__row grid__row--align-top grid__row--md">
            <div class="grid__item">
                <div class="b-article b-article--motivation">
                    <p class="b-article__title">График среднего вывоза водителя</p>
                    <p class="b-article__text">В качестве едениц измерения используется количество заказов выполненных водителем в час</p>
                </div>
            </div>
            <div class="grid__item">
                <div class="result">
                    <p class="graf-text graf-text--sm  result__text">Вывоз вырос на</p>
                    <p class="main-text main-text--sm result__text result__text--iconed">22,9%</p>
                </div>
            </div>
        </div>
        <img src="img/motivation-desk.svg" alt="" class="section__img section__img--desk">
        <img src="img/motivation-touch.svg" alt="" class="section__img section__img--mob">
        <img src="img/motivation-tablet.png" alt="" class="section__img section__img--tablet">
    </div>
</div>
<div class="b-page__section">
    //= ../components/news.html
</div>
<div class="b-page__section b-page__section--blue">
    //= ../components/form.html
    <div class="grid md-block">
        <div class="grid__row grid__row--md ">
            <div class="grid__item">
                <img class="md-block__img" src="img/taxiritm.png" alt="">
            </div>
            <div class="grid__item">
                <img class="md-block__img" src="img/956.png" alt="">
            </div>
            <div class="grid__item">
                <img class="md-block__img" src="img/788.svg" alt="">
            </div>
            <div class="grid__item">
                <img class="md-block__img" src="img/kamaz.png" alt="">
            </div>
        </div>
        <p class="md-block__text">
            Более 46 клиентов ежедневно пользуются приложением Таксиграция, попробуйте и Вы. Оцените
            7-дневную пробную версию Таксиграции совершенно бесплатно.
        </p>
    </div>
</div>
