<div class="b-page__section">
    <div class="section grid">
        <div class="grid__row  grid__row--nowrap grid__row--md grid__row--line">
            <div class="grid__item">
                <div class="b-article b-article--main">
                    <p class="section-title section-title--md-left">Плюсы</p>
                    <p class="b-article__text b-article__text--main">Мы узнали основыные проблемы, с которыми сталкиваются таксопарки
                        и нашли для них удобное решение</p>
                </div>
            </div>
            <div class="grid__item">
                <div class="b-article">
                    <div class="b-article__img">
                        <img class="article-img" src="img/integrations.svg" alt="">
                    </div>
                    <p class="b-article__title article-title">Интеграция с сервисами</p>
                    <p class="b-article__text">Интеграция Uber, YandexTaxi, Gett в одном приложение (финансы)</p>
                </div>
                <div class="b-article">
                    <div class="b-article__img">
                        <img class="article-img" src="img/corrections.svg" alt="">
                    </div>
                    <p class="b-article__title article-title">Подгрузка корретировок</p>
                    <p class="b-article__text">Автоматическая подгрузка всех корректировок/фродов агрегатора.</p>
                </div>
                <div class="b-article">
                    <div class="b-article__img">
                        <img class="article-img" src="img/arend.svg" alt="">
                    </div>
                    <p class="b-article__title article-title">Расчет аренды бортов</p>
                    <p class="b-article__text">Учет и расчет стоимости аренды активных бортов.</p>
                </div>
            </div>
            <div class="grid__item">
                <div class="b-article">
                    <div class="b-article__img">
                        <img class="article-img" src="img/integrations1c.png" alt="">
                    </div>
                    <p class="b-article__title article-title">Интеграция с 1С</p>
                    <p class="b-article__text">Интеграция с 1С, топливными системами и клиентбанками.</p>
                </div>
                <div class="b-article">
                    <div class="b-article__img">
                        <img class="article-img" src="img/autopayment.svg" alt="">
                    </div>
                    <p class="b-article__title article-title">Автоплатежи</p>
                    <p class="b-article__text">Выгрузка платежных поручений всего лишь в один клик.</p>
                </div>
                <div class="b-article">
                    <div class="b-article__img">
                        <img class="article-img" src="img/driver-motivation.svg" alt="">
                    </div>
                    <p class="b-article__title article-title">Мотивация водителей</p>
                    <p class="b-article__text">Увеличение вывоза до 30% за счет персонализированной мотивации.</p>
                </div>
            </div>
            </div>
        </div>
    </div>
<div class="b-page__section">
    <div class="section  section--news">
        <div class="grid">
            <div class="grid__row grid__row--md">
                <div class="grid__item"><p class="section-title section-title--left">Наши новости</p></div>
                <div class="grid__item grid__item--mb-hide">
                    <ul class="nav nav--news nav--right">
                        <li class="nav__item">
                            <a href="#" class="nav__link">Блог</a>
                        </li>
                        <li class="nav__item"><a href="#" class="nav__link">Наши новости</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">Кейся</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">СМИ о нас</a></li>
                    </ul></div>
            </div>
        </div>
        <div class="grid">
            <div class="grid__row grid__row--md">
                <div class="grid__item">
                    <a href="#">
                    <div class="b-article b-article--news">
                        <div class="b-article__img">
                            <img class="article-img" src="img/news-telegram.jpg" alt="">
                        </div>
                        <div class="b-article__wrap">
                            <p class="b-article__title article-title">Телеграм-бот для поддержки водителей</p>
                            <p class="b-article__text">20 ФЕВ, 2017</p>
                        </div>
                        <div class="b-article_hidden">
                            <button class="btn">Подробнее</button>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="grid__item">
                    <a href="#">
                    <div class="b-article b-article--news">
                    <div class="b-article__img">
                        <img class="article-img" src="img/news-func.svg" alt="">
                    </div>
                    <div class="b-article__wrap">
                    <p class="b-article__title article-title">Мы добавили в приложение новые функции</p>
                    <p class="b-article__text">4 ФЕВ, 2017</p>
                        </div>
                        <div class="b-article_hidden">
                            <button class="btn">Подробнее</button>
                        </div>
                </div>
                        </a>
                </div>
                <div class="grid__item">
                    <a href="#">
                    <div class="b-article b-article--news">
                    <div class="b-article__img">
                        <img class="article-img" src="img/news-instr.jpg" alt="">
                    </div>
                    <div class="b-article__wrap">
                    <p class="b-article__title article-title">Как подключиться к Gettaxi? Инструкция.</p>
                    <p class="b-article__text">10 янв, 2017</p>
                        </div>
                        <div class="b-article_hidden">
                            <button class="btn">Подробнее</button>
                        </div>
                </div>
                        </a>
                </div>
                <div class="grid__item">
                    <a href="#">
                        <div class="b-article b-article--news">
                            <div class="b-article__img">
                                <img class="article-img" src="img/news-modulebank.jpg" alt="">
                            </div>
                            <div class="b-article__wrap">
                                <p class="b-article__title article-title">Автоматическая выгрузка платежек в клиент-банк
                                    и 1С</p>
                                <p class="b-article__text">20 ФЕВ, 2017</p>
                            </div>
                            <div class="b-article_hidden">
                                <button class="btn">Подробнее</button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="b-page__section b-page__section--blue">
    <form class="form">
        <p class="form__title section-title">Оставить заявку</p>
        <p class="form__text">Наши менеджеры свяжутся с вами</p>
        <div class="form__wrap">
            <div class="field">
                <label class="form__text field__label">Имя</label>
                <input type="text" class="field__input input">
                <i class="input__icon"></i>
            </div>
            <div class="field">
                <label class="form__text field__label">EMAIL</label>
                <input type="text" class="field__input input">
                <i class="input__icon"></i>
            </div>
            <div class="field">
                <label class="form__text field__label">Телефон</label>
                <input type="text" class="field__input input">
                <i class="input__icon"></i>
            </div>
            <div class="field field--radios">
                <p class="form__text field__label">Деятельность</p>
                <div class="field__group">
                    <input name="type" class="checkbox" id="taxopark" type="radio">
                    <label class="label-box" for="taxopark">Таксопарк</label>
                    <input name="type" class="checkbox" id="driver" type="radio">
                    <label class="label-box" for="driver">Водитель</label>
                </div>
            </div>
            <button class="btn form__btn">Оставить заявку</button>
        </div>
    </form>
    <div class="grid md-block">
        <div class="grid__row grid__row--md ">
            <div class="grid__item">
                <img class="md-block__img" src="img/taxiritm.png" alt="">
            </div>
            <div class="grid__item">
                <img class="md-block__img" src="img/956.png" alt="">
            </div>
            <div class="grid__item">
                <img class="md-block__img" src="img/788.svg" alt="">
            </div>
            <div class="grid__item">
                <img class="md-block__img" src="img/kamaz.png" alt="">
            </div>
        </div>
        <p class="md-block__text">
            Более 46 клиентов ежедневно пользуются приложением Таксиграция, попробуйте и Вы. Оцените
            7-дневную пробную версию Таксиграции совершенно бесплатно.
        </p>
    </div>
</div>
