<div class="b-page__section b-page__section--blue">
<div class="section section--md jumbotron">
    <p class="title-text jumbotron__title">Пополнение службы</p>
</div>
    <div class="section section--md grid">
        <div class="grid__row grid__row--align-top grid__row--md">
            <div class="grid__item">
                <form class="form form--payment form--med">
                    <p class="text-title text-title--md">
                        Выберите пополняемую службу
                    </p>
                    <div class="field field--payment">
                        <label class="base-text base-text--sm base-text--upper base-text--soft">ВВЕДИТЕ КОД СЛУЖБЫ</label>
                        <div class="field__wrap">
                            <input name="email" type="text" class="field__input field__input--wrapped input">
                            <span class="field__text">.opteum.ru</span>
                        </div>
                    </div>
                    <button class="btn form__btn form__btn--payment">Готово</button>
                </form>
            </div>
            <div class="grid__item">
                <div class="form form--payment form--sm">
                    <p class="text-title text-title--md">Бонус за доверие</p>
                    <p class="base-text base-text--big base-text--color">-5%</p>
                    <p class="base-text base-text--soft">Теперь при  оплате свыше <b>30 000 руб</b> Вы получаете скидку <b>5%.</b></p>
                </div>
            </div>
        </div>
                    <div class="jumbotron section__jumbotron-payment">
                <p class="jumbotron__text">Внимание! Комиссия при оплате через QIWI - <b>6%</b>, остальные способы оплаты онлайн - <b>2,7%</b>. При безналичной оплате на расчетный счет- <b>0%</b>.</p>
            </div>
        <div class="grid__row">
             <div class="grid__item">
                    <form id="payment_types" class="form form--payment form--big">
                    <div class="form__header">
                        <p class="text-title text-title--center text-title--md">
                            Выберите способ оплаты
                        </p>
                        <div class="form__row">
                            <div class=" form__col">
                                <p class="base-text base-text--sm base-text--upper base-text--soft">Описание</p>
                                <p class="base-text base-text--sm-bigger">Автоматический платеж</p>
                            </div>
                            <div class=" form__col">
                                <label class="base-text base-text--sm base-text--upper base-text--soft">Сумма</label>
                                <div class="field__wrap">
                                    <input name="email" type="text" class="field__input field__input--wrapped input">
                                    <span class="field__text">RUB</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form__line"></div>
                    <div class="form__body">
                        <p class="base-text base-text--sm base-text--upper base-text--soft">Способы оплаты</p>
                        <div class="grid">
                            <div class="grid__row grid__row--sm">
                                        <a href="#" class="b-payment">
                                            <div class="b-payment__img">
                                                <img src="img/pay-cards.png" alt="" class="pay-img">
                                            </div>
                                        </a>
                                        <a href="#" class="b-payment">
                                            <div class="b-payment__img">
                                                <img src="img/pay-cards.png" alt="" class="pay-img">
                                            </div>
                                        </a>
                                        <a href="#" class="b-payment">
                                            <div class="b-payment__img">
                                                <img src="img/pay-cards.png" alt="" class="pay-img">
                                            </div>
                                        </a>
                                        <a href="#" class="b-payment">
                                            <div class="b-payment__img">
                                                <img src="img/pay-cards.png" alt="" class="pay-img">
                                            </div>
                                        </a>
                                        <a href="#" class="b-payment">
                                            <div class="b-payment__img">
                                                <img src="img/pay-cards.png" alt="" class="pay-img">
                                            </div>
                                        </a>

                                        <a href="#" class="b-payment">
                                            <div class="b-payment__img">
                                                <img src="img/pay-cards.png" alt="" class="pay-img">
                                            </div>
                                        </a>
                                        <a href="#" class="b-payment">
                                            <div class="b-payment__img">
                                                <img src="img/pay-cards.png" alt="" class="pay-img">
                                            </div>
                                        </a>
                                        <a href="#" class="b-payment">
                                            <div class="b-payment__img">
                                                <img src="img/pay-cards.png" alt="" class="pay-img">
                                            </div>
                                        </a>
                            </div>
                        </div>
                    </div>
                </form>
             </div>
        </div>
    </div>
</div>
