<div class="b-page__section">
    <div class="section grid">
        <div class="grid__row  grid__row--nowrap grid__row--md grid__row--line">
            <div class="grid__item">
                <div class="b-article b-article--main">
                    <p class="section-title section-title--md-left">Плюсы</p>
                    <p class="b-article__text b-article__text--main">Мы узнали основыные проблемы, с которыми сталкиваются таксопарки
                        и нашли для них удобное решение</p>
                </div>
            </div>
            <div class="grid__item">
                <div class="b-article">
                    <div class="b-article__img">
                        <img class="article-img" src="img/integrations.svg" alt="">
                    </div>
                    <p class="b-article__title article-title">Интеграция с сервисами</p>
                    <p class="b-article__text">Интеграция Uber, YandexTaxi, Gett в одном приложение (финансы)</p>
                </div>
                <div class="b-article">
                    <div class="b-article__img">
                        <img class="article-img" src="img/corrections.svg" alt="">
                    </div>
                    <p class="b-article__title article-title">Подгрузка корретировок</p>
                    <p class="b-article__text">Автоматическая подгрузка всех корректировок/фродов агрегатора.</p>
                </div>
                <div class="b-article">
                    <div class="b-article__img">
                        <img class="article-img" src="img/arend.svg" alt="">
                    </div>
                    <p class="b-article__title article-title">Расчет аренды бортов</p>
                    <p class="b-article__text">Учет и расчет стоимости аренды активных бортов.</p>
                </div>
            </div>
            <div class="grid__item">
                <div class="b-article">
                    <div class="b-article__img">
                        <img class="article-img" src="img/integrations1c.png" alt="">
                    </div>
                    <p class="b-article__title article-title">Интеграция с 1С</p>
                    <p class="b-article__text">Интеграция с 1С, топливными системами и клиентбанками.</p>
                </div>
                <div class="b-article">
                    <div class="b-article__img">
                        <img class="article-img" src="img/autopayment.svg" alt="">
                    </div>
                    <p class="b-article__title article-title">Автоплатежи</p>
                    <p class="b-article__text">Выгрузка платежных поручений всего лишь в один клик.</p>
                </div>
                <div class="b-article">
                    <div class="b-article__img">
                        <img class="article-img" src="img/driver-motivation.svg" alt="">
                    </div>
                    <p class="b-article__title article-title">Мотивация водителей</p>
                    <p class="b-article__text">Увеличение вывоза до 30% за счет персонализированной мотивации.</p>
                </div>
            </div>
            </div>
        </div>
    </div>
<div class="b-page__section">
    <div class="section">
        <p class="section-title">Финансы</p>
        <div class="section__img img-block">
            <div class=" img-block__arrow img-block__arrow--1">
                <p class="orange-text">Выдача зарплаты за 5 минут</p>
            </div>
            <div class=" img-block__arrow img-block__arrow--2">
                <p class="orange-text">Масштабирование бизнеса</p>
            </div>
            <div class="img-block__wrapper">
                <img src="img/finance.jpg" class="img-finance">
                <img src="img/finance-desktop.png" class="img-finance img-finance--desk">
            </div>
            <div class=" img-block__arrow img-block__arrow--3">
                <p class="orange-text">Решение конфликтов с водителями</p>
            </div>
        </div>
        <div class="grid grid--container">
            <div class="grid__row grid__row--nowrap grid__row--md">
                <div class="grid__item">
                    <div class="b-article">
                        <div class="b-article__img">
                            <img class="article-img" src="img/autopayment.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">Автоплатежи</p>
                        <p class="b-article__text">Автоматическое списание комиссии парка, автоплатежи (лицензии, аренда и и др.)</p>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="b-article">
                        <div class="b-article__img">
                            <img class="article-img" src="img/integrations-common.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">Интеграции</p>
                        <p class="b-article__text">Выгрузка документов в 1С, клиент-банк и другие прогрмаммы</p>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="b-article">
                        <div class="b-article__img">
                            <img class="article-img" src="img/pay.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">Зарплата</p>
                        <p class="b-article__text">Расчет и выдача заработной платы водителям вашего таксопарка за 3 минуты</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b-page__section">
    <div class="section">
        <p class="section-title">Индикаторы <sup>Скоро</sup></p>
        <div class="section__img ">
            <div class="img-overlay">
                <div class="img-overlay__item control-driver"></div>
                <div class="img-overlay__item control-rating"></div>
            </div>
        </div>
        <div class="grid grid--container">
            <div class="grid__row grid__row--nowrap grid__row--md">
                <div class="grid__item">
                    <div class="b-article">
                        <div class="b-article__img">
                            <img class="article-img" src="img/control-state.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">контроль штата</p>
                        <p class="b-article__text">Контроль уменьшения количества  водителей, работающих в таксопарке</p>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="b-article">
                        <div class="b-article__img">
                            <img class="article-img" src="img/control-rating.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">Контроль рейтинга</p>
                        <p class="b-article__text">Контроль рейтинга водителей для повышения качества сервиса</p>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="b-article">
                        <div class="b-article__img">
                            <img class="article-img" src="img/control-motivation.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">Мотивация</p>
                        <p class="b-article__text">Мотивация водителя для перевыполнения плана по заказам</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b-page__section">
    <div class="section">
        <p class="section-title">Маркетинг <sup>Скоро</sup></p>
        <div class="section__img ">
            <div class="img-overlay img-overlay--marketing">
                <div class="img-overlay__arrow"></div>
                <div class="img-overlay__item img-regist"></div>
                <div class="img-overlay__item img-exchange"></div>
            </div>
        </div>
        <div class="grid grid--container">
            <div class="grid__row grid__row--nowrap grid__row--md">
                <div class="grid__item">
                    <div class="b-article">
                        <div class="b-article__img">
                            <img class="article-img" src="img/site-form.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">Формы для сайта</p>
                        <p class="b-article__text">Встраевымые формы регистрации для сайта таксопарка</p>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="b-article">
                        <div class="b-article__img">
                            <img class="article-img" src="img/exchange.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">Биржа Водителей</p>
                        <p class="b-article__text">Бычтрый поиск новых водителей для вашей организации</p>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="b-article">
                        <div class="b-article__img">
                            <img class="article-img" src="img/reklama.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">Реклама</p>
                        <p class="b-article__text">Продвижение вашего таксопарка с помощью SMM
                            и контекстной рекламы</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b-page__section b-page__section--blue">
    <div class="section">
        <p class="section-title">Приложение для водителей</p>
        <div class="grid grid--desktop">
            <div class="grid__row grid__row--nowrap grid__row--md">
                <div class="grid__item grid__item--top-indent ">
                    <div class="b-article b-article--aligned-left">
                        <p class="b-article__title article-title article-title--md">Прозрачность доходов</p>
                        <p class="b-article__text b-article__text--md">Вы можете наблюдать, как формируется ваша заработная плата и видеть все выполненные поездки по Uber, Яндекс.Такси и Gett</p>
                    </div>
                    <div class="b-article b-article--aligned-left">
                        <p class="b-article__title article-title article-title--md">Быстрый вывод заработка</p>
                        <p class="b-article__text b-article__text--md">Вы можете быстро оформить запрос на вывод средств на банковскую карту.</p>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="b-article">
                        <div class="b-article__img b-article__img--gadget">
                            <img class="gadget" src="img/Iphone.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="grid__item grid__item--visible grid__item--top-indent">
                    <div class="b-article b-article--aligned-left">
                        <p class="b-article__title article-title article-title--md">Всегда в курсе</p>
                        <p class="b-article__text b-article__text--md">Получение новостей и оповещиений
                            в приложении. Вы всегда будете в курсе происходящего.</p>
                    </div>
                    <div class="b-article b-article--aligned-left">
                        <p class="b-article__title article-title article-title--md">Kорректировки в одном месте</p>
                        <p class="b-article__text b-article__text--md">Все корректировки по заказам от Uber, Gett и Яндек. Таксив одном месте.</p>
                    </div>
                    <div class="b-article b-article--aligned-left">
                        <div class="b-article__icons">
                            <a href="https://play.google.com/store/apps/details?id=com.opteum.grace.graceva"><img class="icon-img google-play" src="img/GooglePlay.png" alt=""></a>
                            <a href="https://telegram.me/driv_bot"><img class="icon-img telegram" src="img/Telegram.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid--taplet">
            <div class="grid__row grid__row--md">
                <div class="grid__item">
                    <div class="b-article">
                        <p class="b-article__text">Откройте мобильное приложение в App Store или Google Play</p>
                        <div class="b-article__img b-article__img--icon">
                            <a href="https://play.google.com/store/apps/details?id=com.opteum.grace.graceva"><img width="80px" height="80px" class="market-logo" src="img/market.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="b-article">
                        <p class="b-article__text">Задать вопросы и узнать наши последние новости можно от бота в Телеграм</p>
                        <div class="b-article__img b-article__img--icon">
                            <a href="https://telegram.me/driv_bot"> <img class="telegram-mob" src="img/Telegram@2x.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b-page__section b-page__section">
    <div class="section">
        <p class="section-title">Цены и тарифы</p>
        <div class="grid">
            <div class="grid__row grid__row--md">
                <div class="grid__item">
                    <div class="b-article b-article--price">
                        <p class="b-article__text b-article__text--lg">Стоимость решения</p>
                        <p class="b-article__text b
                    -article__text--lg">От<span class="big-text">4 990</span>руб/мес</p>
                        <div class="price-img price-img--mob">
                            <img class="img-price" src="img/price.svg" alt="">
                        </div>
                        <p class="b-article__text b-article__text--black">Внимание! Точная стоимость зависит от набора функционала, региона и количества магишин. Уточнить цену и подобрать услуги можно у наших менеджеров.</p>
                        <button class="btn btn--primary">Сделать точный расчет</button>
                    </div>
                </div>
                <div class="grid__item grid__item--price-img">
                    <div class="price-img">
                        <img class="img-price" src="img/price.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b-page__section b-page__section--blue">
    <div class="section">
        <p class="section-title">Интеграции</p>
        <div class="md-block">
            <p class="md-block__text md-title">Такси</p>
            <p class="md-block__text">Повышайте производительность своего таксопарка с помощью популярных сервисов такси, управлять которыми можно через одно приложение. Мы работаем  с крупнейшими агрегаторами такси в Росии и в мире. В том числе:</p>
            <div class="grid">
                <div class="grid__row grid__row--lg">
                    <div class="grid__row--item">
                        <img class="md-block__img" src="img/uber.svg" alt="">
                        <img  class="md-block__img" src="img/yandex.png" alt="">
                    </div>
                    <div class="grid__row--item">
                        <img class="md-block__img"  src="img/fix-taxi.svg" alt="">
                        <img class="md-block__img"  src="img/gett.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="md-block">
            <p class="md-block__text md-title">Банки и платежные системы</p>
            <p class="md-block__text">Повышайте производительность своего таксопарка с помощью популярных сервисов такси, управлять которыми можно через одно приложение. Мы работаем  с крупнейшими агрегаторами такси в Росии и в мире. В том числе:</p>
            <div class="grid">
                <div class="grid__row grid__row--lg">
                    <div class="grid__row--item">
                        <img class="md-block__img" src="img/qiwi.png" alt="">
                    </div>
                    <div class="grid__row--item">
                        <img class="md-block__img"  src="img/alfa-bank.png" alt="">
                    </div>
                    <div class="grid__row--item">
                        <img class="md-block__img"  src="img/module-bank.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="md-block">
            <p class="md-block__text md-title">Другие сервисы</p>
            <p class="md-block__text">Повышайте производительность своего таксопарка с помощью популярных сервисов такси, управлять которыми можно через одно приложение. Мы работаем  с крупнейшими агрегаторами такси в Росии и в мире. В том числе:</p>
            <div class="grid">
                <div class="grid__row grid__row--lg">
                    <div class="grid__row--item">
                        <img class="md-block__img" src="img/1c.png" alt="">
                    </div>
                    <div class="grid__row--item">
                        <img class="md-block__img"  src="img/telegram-service.png" alt="">
                    </div>
                    <div class="grid__row--item">
                        <img class="md-block__img"  src="img/ppr.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b-page__section">
    <div class="section  section--news">
        <div class="grid">
            <div class="grid__row grid__row--md">
                <div class="grid__item"><p class="section-title section-title--left">Наши новости</p></div>
                <div class="grid__item grid__item--mb-hide">
                    <ul class="nav nav--news nav--right">
                        <li class="nav__item">
                            <a href="#" class="nav__link">Блог</a>
                        </li>
                        <li class="nav__item"><a href="#" class="nav__link">Наши новости</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">Кейсы</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">СМИ о нас</a></li>
                    </ul></div>
            </div>
        </div>
        <div class="grid">
            <div class="grid__row grid__row--md">
                <div class="grid__item">
                    <a href="#">
                    <div class="b-article b-article--news">
                        <div class="b-article__img">
                            <img class="article-img" src="img/news-telegram.jpg" alt="">
                        </div>
                        <div class="b-article__wrap">
                            <p class="b-article__title article-title">Телеграм-бот для поддержки водителей</p>
                            <p class="b-article__text">20 ФЕВ, 2017</p>
                        </div>
                        <div class="b-article_hidden">
                            <button class="btn">Подробнее</button>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="grid__item">
                    <a href="#">
                    <div class="b-article b-article--news">
                    <div class="b-article__img">
                        <img class="article-img" src="img/news-func.svg" alt="">
                    </div>
                    <div class="b-article__wrap">
                    <p class="b-article__title article-title">Мы добавили в приложение новые функции</p>
                    <p class="b-article__text">4 ФЕВ, 2017</p>
                        </div>
                        <div class="b-article_hidden">
                            <button class="btn">Подробнее</button>
                        </div>
                </div>
                        </a>
                </div>
                <div class="grid__item">
                    <a href="#">
                    <div class="b-article b-article--news">
                    <div class="b-article__img">
                        <img class="article-img" src="img/news-instr.jpg" alt="">
                    </div>
                    <div class="b-article__wrap">
                    <p class="b-article__title article-title">Как подключиться к Gettaxi? Инструкция.</p>
                    <p class="b-article__text">10 янв, 2017</p>
                        </div>
                        <div class="b-article_hidden">
                            <button class="btn">Подробнее</button>
                        </div>
                </div>
                        </a>
                </div>
                <div class="grid__item">
                    <a href="#">
                        <div class="b-article b-article--news">
                            <div class="b-article__img">
                                <img class="article-img" src="img/news-modulebank.jpg" alt="">
                            </div>
                            <div class="b-article__wrap">
                                <p class="b-article__title article-title">Автоматическая выгрузка платежек в клиент-банк
                                    и 1С</p>
                                <p class="b-article__text">20 ФЕВ, 2017</p>
                            </div>
                            <div class="b-article_hidden">
                                <button class="btn">Подробнее</button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="b-page__section b-page__section--blue">
    <form class="form">
        <p class="form__title section-title">Оставить заявку</p>
        <p class="form__text">Наши менеджеры свяжутся с вами</p>
        <div class="form__wrap">
            <div class="field">
                <label class="form__text field__label">Имя</label>
                <input type="text" class="field__input input">
                <i class="input__icon"></i>
            </div>
            <div class="field">
                <label class="form__text field__label">EMAIL</label>
                <input type="text" class="field__input input">
                <i class="input__icon"></i>
            </div>
            <div class="field">
                <label class="form__text field__label">Телефон</label>
                <input type="text" class="field__input input">
                <i class="input__icon"></i>
            </div>
            <div class="field field--radios">
                <p class="form__text field__label">Деятельность</p>
                <div class="field__group">
                    <input name="type" class="checkbox" id="taxopark" type="radio">
                    <label class="label-box" for="taxopark">Таксопарк</label>
                    <input name="type" class="checkbox" id="driver" type="radio">
                    <label class="label-box" for="driver">Водитель</label>
                </div>
            </div>
            <button class="btn form__btn">Оставить заявку</button>
        </div>
    </form>
    <div class="grid md-block">
        <div class="grid__row grid__row--md ">
            <div class="grid__item">
                <img class="md-block__img" src="img/taxiritm.png" alt="">
            </div>
            <div class="grid__item">
                <img class="md-block__img" src="img/956.png" alt="">
            </div>
            <div class="grid__item">
                <img class="md-block__img" src="img/788.svg" alt="">
            </div>
            <div class="grid__item">
                <img class="md-block__img" src="img/kamaz.png" alt="">
            </div>
        </div>
        <p class="md-block__text">
            Более 46 клиентов ежедневно пользуются приложением Таксиграция, попробуйте и Вы. Оцените
            7-дневную пробную версию Таксиграции совершенно бесплатно.
        </p>
    </div>
</div>
