<div class="b-page__section b-page__section--blue">
    <div class="section section-md">
        <div class="jumbotron jumbotron--taxigrace">
            <div class="icon-item icon-item--big">Т</div>
            <p class="title-text jumbotron__title">Таксиграция</p>
            <p class="title-text jumbotron__text">Софт для таксопарков, которые работают только с агрегаторами</p>
        </div>
        <div class="md-block md-block--non-indent">
            <div class="grid">
                <div class="grid__row grid__row--lg">
                    <div class="grid__row--item">
                        <img class="md-block__img" src="img/uber.svg" alt="">
                        <img class="md-block__img" src="img/yandex.png" alt="">
                        <img class="md-block__img" src="img/gett.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="grid base-block">
            <div class="grid__row">
                <div class="grid__item">
                    <div class="base-item">
                        <p class="base-item__title">Базовый</p>
                        <p class="b-article__text base-item__text">Лимит заказов: 400 в месяц, первый платеж за 2 месяца</p>
                        <p class="base-item__price b-article__text b-article__text--lg"><span class="big-text b-article__text">4 990</span>руб/мес</p>
                        <ul class="base-list">
                            <li class="base-list__item b-article__text">Приложение для водителя</li>
                            <li class="base-list__item b-article__text">Удобное рабочее место диспетчера</li>
                            <li class="base-list__item b-article__text">Биржа заказов</li>
                            <li class="base-list__item b-article__text">GPS-мониторинг</li>
                            <li class="base-list__item b-article__text">Запись разговоров*, отчеты</li>
                            <li class="base-list__item b-article__text">Call-центр, СМС-оповещение</li>
                        </ul>
                    </div>
                </div>
                <div class="grid__item"></div>
            </div>
        </div>
    </div>
</div>