<div class="b-page__section b-page__section--non-border b-page__section--gradient">
    <div class="section section--md">
        <div class="jumbotron jumbotron--taxigrace">
            <div class="icon-item icon-item--big">Т</div>
            <p class="title-text jumbotron__title">Таксиграция</p>
            <p class="title-text jumbotron__text">Софт для таксопарков, которые работают только с агрегаторами</p>
        </div>
        <div class="md-block md-block--price md-block--non-indent">
            <div class="grid">
                <div class="grid__row grid__row--lg">
                    <div class="grid__row--item">
                        <img class="md-block__img" src="img/uber.svg" alt="">
                        <img class="md-block__img" src="img/yandex.png" alt="">
                        <img class="md-block__img" src="img/gett.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="grid base-block">
            <div class="grid__row grid__row--base-block grid__row--md">
                <div class="grid__item grid__item--border-right grid__item--border-bot-mb">
                    <div class="base-item">
                        <p class="base-item__title">Базовый</p>
                        <div class="base-item__line"></div>
                        <p class="b-article__text base-item__text">Лимит заказов: 400 в месяц, первый платеж за 2 месяца</p>
                        <p class="base-item__price b-article__text"><span class="base-item__text base-item__text--big">от 4 990</span>руб/мес</p>
                        <ul class="base-list">
                            <li class="base-list__item b-article__text">Приложение для водителя</li>
                            <li class="base-list__item b-article__text">Удобное рабочее место диспетчера</li>
                            <li class="base-list__item b-article__text">Биржа заказов</li>
                            <li class="base-list__item b-article__text">GPS-мониторинг</li>
                            <li class="base-list__item b-article__text">Запись разговоров*, отчеты</li>
                            <li class="base-list__item b-article__text">Call-центр, СМС-оповещение</li>
                        </ul>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="base-item base-item--info">
                       <p class="b-article__title">Внимание!</p>
                        <p class="base-item__text base-item__text--left b-article__text">Точная стоимость зависит от параметров вашего таксопарка:</p>
                        <ul class="base-list base-list--more">
                            <li class="base-list__item base-list__item--check b-article__text">Набора функционала</li>
                            <li class="base-list__item base-list__item--geo b-article__text">Региона</li>
                            <li class="base-list__item base-list__item--car b-article__text">Количества машин</li>
                        </ul>
                        <p class="b-article__text base-item__text base-item__text--left">Уточнить цену и подобрать услуги можно у наших менеджеров.</p>
                        <button class="btn base-item__btn">Сделать точный расчет</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
<div class="b-page__section  b-page__section--non-border">
    <div class="section section--md">
        <p class="section-title">Дополнительные опции</p>
        <table class="table">
            <thead>
            <tr class="mb-hide">
                <td>Услуга</td>
                <td>Цена</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a class="special-link" href="#">Бот</a> в Telegram для заказа такси</td>
                <td>Индивидуально</td>
            </tr>
            <tr>
                <td>Диспетчеризация такси, обработка заказов</td>
                <td>От 10 руб./заказ

                </td>
            </tr>
            <tr>
                <td>Модуль "Сетевое такси"</td>
                <td>3 000 руб./служба. </td>
            </tr>
            <tr>
                <td>Настройка VOIP шлюза</td>
                <td>От 8 000 руб.</td>
            </tr>
            <tr>
                <td>Разработка специального отчета
                    (согласовывается по ТЗ) </td>
                <td>От 1 500 до 8 000 руб.</td>
            </tr>
            <tr>
                <td>Интеграция с новым СМС-провайдером</td>
                <td>4 000 руб.</td>
            </tr>
            <tr>
                <td>Интеграция со сторонней платежной системой/биржей заказов</td>
                <td>От 15 000 руб</td>
            </tr>
            <tr>
                <td>Настройка/наладка стороннего телефонного сервера на базе Asterisk</td>
                <td>От 8 000 руб.</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<div class="b-page__section" >
    <div class="section section--md section--md-grid">
        <p class="section-title">Почему облачное решение лучше коробочного?</p>
        <div class="grid">
            <div class="grid__row grid__row--md grid__row--nowrap">
                <div class="grid__item">
                    <div class="b-article b-article--cloud">
                        <div class="b-article__img">
                            <img class="article-img" src="img/loyal-drivers.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">Лояльность водителей</p>
                        <p class="b-article__text">Таксиграция позволяет сделать расчеты точными и прозрачными для водителей. Поэтому они дольше работают с вами, рекомендуют другим водителям, увеличивая вашу прибыль.</p>
                    </div>
                    <div class="b-article b-article--cloud">
                        <div class="b-article__img">
                            <img class="article-img" src="img/data-save.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">Надежное хранение данных</p>
                        <p class="b-article__text">Наши сервера работают 24/7, чтобы обеспечить постоянный доступ к вашим данным и их сохранность</p>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="b-article b-article--cloud ">
                        <div class="b-article__img">
                            <img class="article-img" src="img/scale.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">Масштарирование в других городах</p>
                        <p class="b-article__text">За счет автоматизации части операций (расчет, поддержка водителей) вы сможете быстрее развивать свой бизнес и открывать новые рынки..</p>
                    </div>
                    <div class="b-article b-article--cloud">
                        <div class="b-article__img">
                            <img class="article-img" src="img/support.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">Постоянное обновление и поддержка</p>
                        <p class="b-article__text">Мы постоянно совершенствуем наше приложение, поэтому регулярно выпускаем полезные обновления </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="b-page__section b-page__section--blue" >
    <div class="section section--md section--md-grid">
        <p class="section-title">Как оплачивать?</p>
        <div class="md-block md-block--bordered md-block--pay">
            <p class="md-block__text">Оплатить использование системы «Оптеум» можно через расчетный счет компании или через перечисленные ниже платженые системы</p>
            <div class="md-block__wrap">
                <div class="media-item">
                    <img src="img/pay-qiwi.png" alt="" class="media-icon">
                    <p class="media-item__text">qiwi</p>
                </div>
                <div class="media-item">
                    <img src="img/pay-sberbank.svg" alt="" class="media-icon">
                    <p class="media-item__text">сбербанк</p>
                </div>
                <div class="media-item">
                    <img src="img/pay-yandex.png" alt="" class="media-icon">
                    <p class="media-item__text">Яндекс деньги</p>
                </div>
                <div class="media-item">
                    <img src="img/pay-webmoney.svg" alt="" class="media-icon">
                    <p class="media-item__text">web money</p>
                </div>
                <div class="media-item">
                    <img src="img/pay-visa.png" alt="" class="media-icon">
                    <p class="media-item__text">visa</p>
                </div>
                <div class="media-item">
                    <img src="img/pay-mastercard.jpg" alt="" class="media-icon">
                    <p class="media-item__text">mastercard</p>
                </div>
            </div>
        </div>
        <div class="md-block md-block--pay">
            <p class="md-block__text">Финансовый отдел:</p>
            <div class="contacts">
                <p class="md-title contacts__text">+7 (498) 619-57-44</p>
                <p class="md-title contacts__text">help@opteum.ru</p>
            </div>
        </div>
    </div>

</div>