<div class="b-page__section">
    <div class="article">
        <div class="article__header article-header">
            <p class="text-section">Наши новости</p>
            <p class="text-header">Мобильное приложение «Таксиграция» для водителей</p>
            <p class="article__date">15 МАРТА, 2017</p>
        </div>
        <div class="grid article__content">
            <div class="grid__row grid__row--align-top grid__row--md">
                <div class="grid__item">
                    <div class="article__img article__img--non-padding">
                        <img src="img/article/article-img.jpg" alt="">
                    </div>
                </div>
                <div class="grid__item">
                    <div class="b-article b-article--article b-article--sm">
                        <div class="icon-item icon-item--big">Т</div>
                        <p class="b-article__title">Таксиграция</p>
                        <p class="b-article__text b-article__text--sm">Облегчаем работу руководителя такси</p>
                        <a href="" class="special-link special-link--indent">http://taxigrace.com</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="article__text-wrapper">
            <p class="article-text">
                Рынок такси изменился, и многим водителям приходится относительно несладко. Мало поездок, низкая цена,
                высокие требования к авто, штрафы, пробки, бензин. Огромное число заказов сегодня приходит с известных
                международных агрегаторов такси, таких как Uber и Gett – в сумме даже больше, чем дает Яндекс. Так что
                если вы все еще не работаете с Gett и Uber, то, скорее всего, теряете заказы. Но если уже работаете, то
                теряете время и нервы на расчеты и споры с руководителем. Ведь ни вы, ни руководитель не знаете точно,
                сколько вы заработали «чистыми» на этих поездках.
            </p>
        </div>
        <div class="article__text-wrapper">
            <p class="article-title">Что не так с Gett?</p>
            <p class="article-text">
                Пока что не все таксопарки работают с Gett и Uber – в основном, из-за сложностей с бухгалтерией и
                начислением зарплат водителям. Если заказы из Яндекс – это в большинстве своем наличка, то в Gett, как
                минимум, половина расчетов происходит по безналу. Отчеты по безналичным заказам таксопарк получает
                только через две недели, и должен вручную рассчитать каждого водителя: заработок, комиссия, бонусы,
                штрафы, аренда. Похожая ситуация и с Uber – отчеты приходят с задержкой, и все нужно считать вручную.
                Вопрос «сколько заработал водитель» может оставаться открытыми несколько недель. Но кто хочет ждать
                столько времени?</p>
        </div>
        <div class="article__text-wrapper">
            <div class="review">
                <p class="review__text">"Контролируйте счета и доходы с заказов Gettaxi или Uber и быстрее выводите свой
                    заработок." </p>
                <div class="people">
                    <div class="people__avatar">
                        <img src="img/article/avatar.png" alt="" class="avarar">
                    </div>
                    <p class="people__text people__text--name">Константинов Михаил</p>
                    <p class="people__text people__text--company">Владелец такси Вегас</p>
                </div>
            </div>
        </div>
        <div class="article__text-wrapper">
            <p class="article-title">«Таксиграция» решает проблему</p>
            <p class="article-text">С помощью нашего нового сервиса вы можете удобно работать с Яндекс, Uber, Gett,
                комбинируя заказы. Вы будете видеть весь свой заработок «чистыми» сразу же после завершения поездки.
                Руководителю тоже доступны все заказы и счета водителей, так что вы можете сразу рассчитаться с
                таксопарком и получить свои деньги без задержек. Многие предприятия уже подключили «Таксиграцию» – с
                новым софтом работает более 50 таксопарков и сотни водителей в крупных городах России. Узнайте,
                возможно, ваша такси-компания тоже планирует подключиться к «Таксиграции».</p>
        </div>
        <div class="article__img">
            <img src="img/article/random-foto.jpg" alt="">
        </div>
        <div class="article__text-wrapper">
            <p class="article-title">Как работает «Таксиграция»</p>
            <p class="article-text">По сути, это аналог финансового кошелька или интернет-банкинга для водителей (и
                серьезный аналитический инструмент для руководителя). «Таксиграция» в реальном времени собирает данные
                по каждому агрегатору, с которым работает водитель, – начисления, списания, чаевые – автоматически
                считает комиссии и сразу же выдает сумму чистого заработка. Сумма по каждому агрегатору отдельно и общая
                сумма по всем поездкам водителя сразу же доступны в приложении. Вам остается только принять заказ из
                Яндекс, Uber или Gett через соответствующие приложения, а все остальное сделает «Таксиграция» видеообзор
                приложения.</p>
        </div>
        <div class="article__text-wrapper">
            <p class="article-title">Преимущества системы:</p>
            <ul class="article__list">
                <li class="article__list__item article-text">Принимайте больше заказов с разных источников и не гадайте
                    о том, сколько именно «наездили» и когда получите деньги.
                </li>
                <li class="article__list__item article-text">Зарплата, как на ладони. Вы в любой момент времени видите,
                    сколько заработали «чистыми» со всех заказов.
                </li>
                <li class="article__list__item article-text">Прозрачные расчеты с таксопарком. Вы с руководителем
                    понимаете друг друга с полуслова и всегда знаете, кто кому сколько должен.
                </li>
                <li class="article__list__item article-text">Зарплата без задержек. У таксопарка всегда есть готовые
                    цифры по вашим поездкам, так что вы можете запросить свои деньги хоть в тот же день.
                </li>
                <li class="article__list__item article-text">Не занимайтесь ерундой. Вам больше не нужно в уме считать
                    комиссию, переспрашивать о зарплате или вести параллельную бухгалтерию. Берите все возможные заказы
                    и получайте все, что заработали, практически сразу.
                </li>
            </ul>
        </div>
        <div class="article__footer">
            <div class="grid">
                <div class="grid__row grid__row--md">
                    <div class="grid__item">
                        <div class="tags">
                            <button class="btn btn--tag tags__btn">Водителям</button>
                            <button class="btn btn--tag tags__btn">Gett</button>
                        </div>
                    </div>
                    <div class="grid__item">
                        <div class="social">
                            <p class="social__text">Поделиться:</p>
                            <div class="social__img-group">
                                <a href="#"><img src="img/article/social-vk.svg" alt="vk.com" class="social__img"></a>
                                <a href="#"><img src="img/article/social-twitter.svg" alt="twitter.com" class="social__img"></a>
                                <a href="#"><img src="img/article/social-facebook.svg" alt="facebook.com" class="social__img"></a>
                                <a href="#"><img src="img/article/social-whatsapp.svg" alt="vk.com" class="social__img"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>