<div class="b-page__section b-page__section--big-indent b-page__section--pluses">
    <div class="section grid">
        <p class="section-title" id="capabilities">Основные возможности Tabelly</p>
        <div class="grid__row  grid__row--nowrap grid__row--md grid__row--line">
            <div class="grid__item grid__item--desktop-only">
                <div class="section-logo">
                    <img src="img/tabelly/capabilities-logo.jpg" alt="" class="section-img">
                </div>
            </div>
            <div class="grid__item">
                <div class="b-article">
                    <div class="b-article__img">
                        <img class="article-img" src="img/tabelly/capabilities-salary.svg" alt="">
                    </div>
                    <p class="b-article__title article-title">Расчет зарплаты</p>
                    <p class="b-article__text">Рассчитывайте зарплату, больничные листы, отпускные, пособия, алименты, а также  увольнительные выплаты, </p>
                </div>
                <div class="b-article">
                    <div class="b-article__img">
                        <img class="article-img" src="img/tabelly/capabilities-employees.svg" alt="">
                    </div>
                    <p class="b-article__title article-title">Контроль сотрудников</p>
                    <p class="b-article__text">Рассчитывайте зарплату, больничные листы, отпускные, пособия, увольнительные выплаты, алименты</p>
                </div>
                <div class="b-article">
                    <div class="b-article__img">
                        <img class="article-img" src="img/tabelly/capabilities-bank.svg" alt="">
                    </div>
                    <p class="b-article__title article-title">Интеграция с 1С, банком</p>
                    <p class="b-article__text">Рассчитывайте зарплату, больничные листы, отпускные, пособия, алименты, увольнительные выплаты</p>
                </div>
            </div>
            <div class="grid__item">
                <div class="b-article">
                    <div class="b-article__img">
                        <img class="article-img" src="img/tabelly/capabilities-communications.svg" alt="">
                    </div>
                    <p class="b-article__title article-title">Коммуникация</p>
                    <p class="b-article__text">Рассчитывайте зарплату, больничные и дргугие  листы, отпускные, пособия, увольнительные выплаты,</p>
                </div>
                <div class="b-article">
                    <div class="b-article__img">
                        <img class="article-img" src="img/tabelly/capabilities-motivation.svg" alt="">
                    </div>
                    <p class="b-article__title article-title">Мотивация</p>
                    <p class="b-article__text">Рассчитывайте зарплату, больничные листы, отпускные, пособия, алиментв, увольнительные выплаты</p>
                </div>
                <div class="b-article">
                    <div class="b-article__img">
                        <img class="article-img" src="img/tabelly/capabilities-accounting.svg" alt="">
                    </div>
                    <p class="b-article__title article-title">Кадровый учет</p>
                    <p class="b-article__text">Рассчитывайте зарплату, больничные листы, отпускные, пособия, алименты увольнительные выплаты</p>
                </div>
            </div>
            </div>
        </div>
    </div>
<div class="b-page__section b-page__section--soft b-page__section--advantages">
<div class="b-page__section--big-indent">
    <div class="grid advantages section section--md ">
        <div class="grid__row grid__row--md advantages__row">
            <div class="grid__item">
                <div class="short-block short-block--sm">
                    <p class="base-text base-text--big base-text--tabelly-theme">15 мин</p>
                    <p class="base-text base-text--soft base-text--sm">Нужно для внедрение системы</p>
                </div>
            </div>
            <div class="grid__item">
                <div class="short-block short-block--sm">
                    <div class="short-block__logo">
                        <img src="img/tabelly/advantages-diamond.svg" width="77" height="72" alt="" class="diamond">
                    </div>
                    <p class="base-text base-text--med">Преимущества</p>
                    <p class="base-text base-text--big base-text--tabelly-theme logo-company ">Tabelly</p>
                </div>
            </div>
            <div class="grid__item">
                <div class="short-block short-block--sm">
                    <p class="base-text base-text--big base-text--tabelly-theme ">24/7</p>
                    <p class="base-text base-text--soft base-text--sm">Досупная служба поддержки</p>
                </div>
            </div>

        </div>
        <div class=" grid__row grid__row--md advantages__row advantages__row--sm">
            <div class="grid__item">
                <div class="short-block short-block--sm">
                    <p class="base-text base-text--big base-text--tabelly-theme ">99,9%</p>
                    <p class="base-text base-text--soft base-text--sm">Времени доступно облачное храненилище</p>
                </div>
            </div>
            <div class="grid__item">
                <div class="short-block short-block--sm">
                    <p class="base-text base-text--big base-text--tabelly-theme ">100%</p>
                    <p class="base-text base-text--soft base-text--sm">Надежность храения данных</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="b-page__section">
    <div class="grid md-block">
        <p class="base-text md-block--title">Довольные клиенты, которые уже используют Tabelly</p>
        <div class="grid__row grid__row--md ">
            <div class="grid__item">
                <img class="md-block__img" src="img/tabelly/clients-taxi-ritm.svg" alt="">
            </div>
            <div class="grid__item">
                <img class="md-block__img" src="img/tabelly/clients-taxi-956.svg" alt="">
            </div>
            <div class="grid__item">
                <img class="md-block__img" src="img/tabelly/clients-mtk-788.svg" alt="">
            </div>
            <div class="grid__item">
                <img class="md-block__img" src="img/tabelly/clients-kamaz.svg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="b-page__section b-page__section--theme-tabelly">
    <div class="section">
        <div class="section__wrapper">
            <p class="section-title section-title--white">Заявка на тестирование</p>
            <p class="base-text base-text--center base-text--white">Оставьте в зачвке свои данные и номер теелфона, и наши менеджеры свяжутся с вами как можно скорее</p>
            <form id="form" class="form form--request">
                <div class="form__wrap grid">
                    <div class="grid__row grid__row--md">
                        <div class="grid__item">
                            <div class="field">
                                <input name="name" type="text" class="field__input input" placeholder="Ваше имя">
                                <i class="input__icon"></i>
                            </div>
                        </div>
                        <div class="grid__item">
                            <div class="field">
                                <input name="number" type="text" class="field__input input" placeholder="Телефон Компании">
                                <i class="input__icon"></i>
                            </div>
                        </div>
                    </div>
                    <p class="base-text base-text--center base-text--white">Число сотрудников в компании</p>
                    <div class="field__group">
                        <input name="type" class="checkbox" id="less5" type="radio" checked value="less5">
                        <label class="label-box" for="less5"><span class="label-box__text label-box__text--less"></span> 5</label>
                        <input name="type" class="checkbox" id="5-25" type="radio" checked value="5-25">
                        <label class="label-box" for="5-25">5-25</label>
                        <input name="type" class="checkbox" id="25-100" type="radio" checked value="25-100">
                        <label class="label-box" for="25-100">25-100</label>
                        <input name="type" class="checkbox" id="more100" type="radio" checked value="more100">
                        <label class="label-box label-box--non-border" for="more100"><span class="label-box__text label-box__text--more"></span> 100</label>
                    </div>
                    <button class="btn form__btn">Оставить заявку на тестирование</button>
                </div>
            </form>
        </div>
    </div>
</div>
