<div class="b-page__section" >
    <div class="section card-items section--md">
        <div class="item-card">
            <div class="item-card__img">
                <img class="img-card" src="/src_design/img/chak.jpg" alt="" class="img-circle">
            </div>
            <p class="base-text">Гарифуллин Дмитрий
            </p>
            <p class="base-text base-text--soft base-text--upper item-card__prof">Team Lead</p>
        </div>
        <div class="item-card">
            <div class="item-card__img">
                <img class="img-card" src="/src_design/img/chak.jpg" alt="" class="img-circle">
            </div>
            <p class="base-text">Чак Норри213123с</p>
            <p class="base-text base-text--soft base-text--upper item-card__prof">Team SESESESE</p>
        </div>
        <div class="item-card">
            <div class="item-card__img">
                <img class="img-card" src="/src_design/img/chak.jpg" alt="" class="img-circle">
            </div>
            <p class="base-text">Чак Норрис</p>
            <p class="base-text base-text--soft base-text--upper item-card__prof">Team Lead</p>
        </div>
        <div class="item-card">
            <div class="item-card__img">
                <img class="img-card" src="/src_design/img/chak.jpg" alt="" class="img-circle">
            </div>
            <p class="base-text">Чак Норрис</p>
            <p class="base-text base-text--soft base-text--upper item-card__prof">android DEVELOPER</p>
        </div>
        <div class="item-card">
            <div class="item-card__img">
                <img class="img-card" src="/src_design/img/chak.jpg" alt="" class="img-circle">
            </div>
            <p class="base-text">Чак Норрис</p>
            <p class="base-text base-text--soft base-text--upper item-card__prof">Team Lead</p>
        </div>
        <div class="item-card">
            <div class="item-card__img">
                <img class="img-card" src="/src_design/img/chak.jpg" alt="" class="img-circle">
            </div>
            <p class="base-text">Чак Норрис</p>
            <p class="base-text base-text--soft base-text--upper item-card__prof">android DEVELOPER</p>
        </div>
        <div class="item-card">
            <div class="item-card__img">
                <img class="img-card" src="/src_design/img/chak.jpg" alt="" class="img-circle">
            </div>
            <p class="base-text">Чак Норрис</p>
            <p class="base-text base-text--soft base-text--upper item-card__prof">Team Lead</p>
        </div>
        <div class="item-card">
            <div class="item-card__img">
                <img class="img-card" src="/src_design/img/chak.jpg" alt="" class="img-circle">
            </div>
            <p class="base-text">Чак Норрис</p>
            <p class="base-text base-text--soft base-text--upper item-card__prof">Team Lead</p>
        </div>
        <div class="item-card">
            <div class="item-card__img">
                <img class="img-card" src="/src_design/img/chak.jpg" alt="" class="img-circle">
            </div>
            <p class="base-text">Чак Норрис</p>
            <p class="base-text base-text--soft base-text--upper item-card__prof">Team Lead</p>
        </div>
        <div class="item-card">
            <div class="item-card__img">
                <img class="img-card" src="/src_design/img/chak.jpg" alt="" class="img-circle">
            </div>
            <p class="base-text">Чак Норрис</p>
            <p class="base-text base-text--soft base-text--upper item-card__prof">Team Lead</p>
        </div>
        <div class="item-card">
            <div class="item-card__img">
                <img class="img-card" src="/src_design/img/chak.jpg" alt="" class="img-circle">
            </div>
            <p class="base-text">Чак Норрис</p>
            <p class="base-text base-text--soft base-text--upper item-card__prof">Team Lead</p>
        </div>
        <div class="item-card">
            <div class="item-card__img">
                <img class="img-card" src="/src_design/img/chak.jpg" alt="" class="img-circle">
            </div>
            <p class="base-text">Чак Норрис</p>
            <p class="base-text base-text--soft base-text--upper item-card__prof">Team Lead</p>
        </div>
        <div class="item-card">
            <div class="item-card__img">
                <img class="img-card" src="/src_design/img/chak.jpg" alt="" class="img-circle">
            </div>
            <p class="base-text">Чак Норрис</p>
            <p class="base-text base-text--soft base-text--upper item-card__prof">Team Lead</p>
        </div>
        <div class="item-card">
            <div class="item-card__img">
                <img class="img-card" src="/src_design/img/chak.jpg" alt="" class="img-circle">
            </div>
            <p class="base-text">Чак Норрис</p>
            <p class="base-text base-text--soft base-text--upper item-card__prof">Team Lead</p>
        </div>
        </div>
    </div>
</div>