<div class="b-page__section">
    <div class="section grid">
        <div class="grid__row grid__row--nowrap grid__row--md grid__row--line">
            <div class="grid__item">
                <div class="b-article b-article--main">
                    <p class="section-title section-title--md-left">Возможности</p>
                    <p class="b-article__text b-article__text--main">Мы знаем проблемы, с которыми сталкиваются таксопарки и нашли для них удобные решения</p>
                </div>
            </div>
            <div class="grid__item">
                <div class="b-article">
                    <div class="b-article__img">
                        <img class="article-img" src="img//app-driver.svg" alt="">
                    </div>
                    <p class="b-article__title article-title">Приложение для водителей(таксометр)</p>
                    <p class="b-article__text">Поддержка Android, история заказов, расчет по таксометру, навигатор.</p>
                </div>
                <div class="b-article">
                    <div class="b-article__img">
                        <img class="article-img" src="img//rights.svg" alt="">
                    </div>
                    <p class="b-article__title article-title">Настройка прав и ограниченние доступа</p>
                    <p class="b-article__text">Возможность создавать группы пользователей и назначать права.</p>
                </div>
                <div class="b-article">
                    <div class="b-article__img">
                        <img class="article-img" src="img//reports.svg" alt="">
                    </div>
                    <p class="b-article__title article-title">Учет и отчетность</p>
                    <p class="b-article__text">Сохранение всей истории по заказам, формирование отчетности по водителям, контрагентам.</p>
                </div>
                <div class="b-article">
                    <div class="b-article__img">
                        <img class="article-img" src="img//work-space.svg" alt="">
                    </div>
                    <p class="b-article__title article-title">Рабочее место диспетчера</p>
                    <p class="b-article__text">Работа с картой, быстрый ввод адресов, архив заказов, черный список.</p>
                </div>
            </div>
            <div class="grid__item">
                <div class="b-article">
                    <div class="b-article__img">
                        <img class="article-img" src="img//auto-allocation.svg" alt="">
                    </div>
                    <p class="b-article__title article-title">Автоматический расчет стоимости</p>
                    <p class="b-article__text">Возможность расчета стоимости по координатам. Загрузка адресов города.</p>
                </div>
                <div class="b-article">
                    <div class="b-article__img">
                        <img class="article-img" src="img//gps-mon.svg" alt="">
                    </div>
                    <p class="b-article__title article-title">GPS-мониторинг транспорта</p>
                    <p class="b-article__text">Контроль местоположения экипажей такси, сохранение трека по заказу.</p>
                </div>
                <div class="b-article">
                    <div class="b-article__img">
                        <img class="article-img" src="img//fin-calc.svg" alt="">
                    </div>
                    <p class="b-article__title article-title">Финансовые расчеты</p>
                    <p class="b-article__text">Автоматические расчеты с водителем, диспетчером, контрагентом. Работа с лицевым счетом.</p>
                </div>
                <div class="b-article">
                    <div class="b-article__img">
                        <img class="article-img" src="img//taxometer.svg" alt="">
                    </div>
                    <p class="b-article__title article-title">Персональный таксометр</p>
                    <p class="b-article__text">Создание собственных тарифов, учет ожидания, подачи, минималка.</p>
                </div>
            </div>
            <div class="grid__item">
                <div class="b-article">
                    <div class="b-article__img">
                        <img class="article-img" src="img//auto-allocation.svg" alt="">
                    </div>
                    <p class="b-article__title article-title">Автоматическое распределение заказа</p>
                    <p class="b-article__text">Распределение по ближайшему водителю и по парковочным зонам.</p>
                </div>
                <div class="b-article">
                    <div class="b-article__img">
                        <img class="article-img" src="img//client-base.svg" alt="">
                    </div>
                    <p class="b-article__title article-title">Клиентская база и черный список</p>
                    <p class="b-article__text">Ведение истории по клиенту, отказы и черный список по клиентам такси.</p>
                </div>
                <div class="b-article">
                    <div class="b-article__img">
                        <img class="article-img" src="img//call-center.svg" alt="">
                    </div>
                    <p class="b-article__title article-title">Сall-центр</p>
                    <p class="b-article__text">Привязка СИП-номера, входящие исходящие звонки, автоматические отзвоны ожидание, голосовое меню.</p>
                </div>
            </div>
            </div>
        </div>
    </div>
<div class="b-page__section">
    <div class="section section--news news">
        <div class="grid">
            <div class="grid__row grid__row--centered grid__row--md">
                <div class="grid__item"><p class="section-title section-title--left">Наши новости</p></div>
                <div class="grid__item grid__item--mb-hide">
                    <ul class="nav nav--news nav--right">
                        <li class="nav__item">
                            <a href="blog.html" class="nav__link">Блог</a>
                        </li>
                        <li class="nav__item"><a href="#" class="nav__link">Наши новости</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">Кейсы</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">СМИ о нас</a></li>
                    </ul></div>
            </div>
        </div>
        <div class="grid">
            <div class="grid__row grid__row--md">
                <div class="grid__item">
                    <a href="#" class="b-article b-article--news">
                        <div class="b-article__img">
                            <img class="article-img" src="img//news-telegram.jpg" alt="">
                            <div class="b-article_hidden">
                                <div class="btn btn--more">Читать статью</div>
                            </div>
                        </div>
                        <div class="b-article__wrap">
                            <p class="b-article__title article-title">Телеграм-бот для поддержки водителей</p>
                            <p class="b-article__text">20 ФЕВ, 2017</p>
                        </div>
                    </a>
                </div>
                <div class="grid__item">
                    <a href="#" class="b-article b-article--news">
                        <div class="b-article__img">
                            <img class="article-img" src="img//news-func.svg" alt="">
                            <div class="b-article_hidden">
                                <div class="btn btn--more">Читать статью</div>
                            </div>
                        </div>
                        <div class="b-article__wrap">
                            <p class="b-article__title article-title">Мы добавили в приложение новые функции</p>
                            <p class="b-article__text">4 ФЕВ, 2017</p>
                        </div>
                    </a>

                </div>
                <div class="grid__item">
                    <a href="#" class="b-article b-article--news">
                        <div class="b-article__img">
                            <img class="article-img" src="img//news-instr.jpg" alt="">
                            <div class="b-article_hidden">
                                <div class="btn btn--more">Читать статью</div>
                            </div>
                        </div>
                        <div class="b-article__wrap">
                            <p class="b-article__title article-title">Как подключиться к Gettaxi? Инструкция.</p>
                            <p class="b-article__text">10 янв, 2017</p>
                        </div>
                    </a>

                </div>
                <div class="grid__item">
                    <a href="#" class="b-article b-article--news">
                        <div class="b-article__img">
                            <img class="article-img" src="img//news-modulebank.jpg" alt="">
                            <div class="b-article_hidden">
                                <button class="btn btn--more">Читать статью</button>
                            </div>
                        </div>
                        <div class="b-article__wrap">
                            <p class="b-article__title article-title">Автоматическая выгрузка платежек в клиент-банк
                                и 1С</p>
                            <p class="b-article__text">20 ФЕВ, 2017</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b-page__section b-page__section--blue">
    <form id="form" class="form form--request">
        <p class="form__title section-title">Оставить заявку</p>
        <p class="base-text base-text--soft base-text--center base-text--sm-bigger">Наши менеджеры свяжутся с вами</p>
        <div class="form__wrap">
            <div class="field">
                <label class="base-text base-text--sm base-text--upper base-text--soft">Имя</label>
                <input name="name" type="text" class="field__input input">
                <i class="input__icon"></i>
            </div>
            <div class="field">
                <label class="base-text base-text--sm base-text--upper base-text--soft">EMAIL</label>
                <input name="email" type="text" class="field__input input">
                <i class="input__icon"></i>
            </div>
            <div class="field">
                <label class="base-text base-text--sm base-text--upper base-text--soft">Телефон</label>
                <input name="number" type="text" class="field__input input" placeholder="+7(999)888-77-66">
                <i class="input__icon"></i>
            </div>
            <div class="field field--radios">
                <p class="base-text base-text--sm base-text--upper base-text--soft">Деятельность</p>
                <div class="field__group">
                    <input name="type" class="checkbox" id="taxopark" type="radio" checked value="org">
                    <label class="label-box" for="taxopark">Таксопарк</label>
                    <input name="type" class="checkbox" id="driver" type="radio" value="driver">
                    <label class="label-box" for="driver">Водитель</label>
                </div>
            </div>
            <button class="btn form__btn">Оставить заявку</button>
        </div>
    </form>
    <div class="grid md-block">
        <div class="grid__row grid__row--md ">
            <div class="grid__item">
                <img class="md-block__img" src="img//taxiritm.png" alt="">
            </div>
            <div class="grid__item">
                <img class="md-block__img" src="img//956.png" alt="">
            </div>
            <div class="grid__item">
                <img class="md-block__img" src="img//788.svg" alt="">
            </div>
            <div class="grid__item">
                <img class="md-block__img" src="img//kamaz.svg" alt="">
            </div>
        </div>
        <p class="md-block__text">
            Более 46 клиентов ежедневно пользуются приложением Таксиграция, попробуйте и Вы. Оцените
            7-дневную пробную версию Таксиграции совершенно бесплатно.
        </p>
    </div>
</div>
