<div class="b-page__section">
    <div class="section grid">
        <div class="grid__row grid__row--nowrap grid__row--md">
            <div class="grid__item">
                <div class="b-article b-article--main">
                    <p class="b-article__title section-title">Плюсы</p>
                    <p class="b-article__text b-article__text--main">Мы узнали основыные проблемы, с которыми сталкиваются таксопарки
                        и нашли для них удобное решение</p>
                </div>
            </div>
            <div class="grid__item">
                <div class="b-article">
                    <div class="b-article__img">
                        <img class="article-img" src="img/integrations.svg" alt="">
                    </div>
                    <p class="b-article__title article-title">Интеграция с сервисами</p>
                    <p class="b-article__text">Интеграция Uber, YandexTaxi, Gett в одном приложение (финансы)</p>
                </div>
                <div class="b-article">
                    <div class="b-article__img">
                        <img class="article-img" src="img/corrections.svg" alt="">
                    </div>
                    <p class="b-article__title article-title">Подгрузка корретировок</p>
                    <p class="b-article__text">Автоматическая подгрузка всех корректировок/фродов агрегатора.</p>
                </div>
                <div class="b-article">
                    <div class="b-article__img">
                        <img class="article-img" src="img/arend.svg" alt="">
                    </div>
                    <p class="b-article__title article-title">Расчет аренды бортов</p>
                    <p class="b-article__text">Учет и расчет стоимости аренды активных бортов.</p>
                </div>
            </div>
            <div class="grid__item">
                <div class="b-article">
                    <div class="b-article__img">
                        <img class="article-img" src="img/integrations1c.png" alt="">
                    </div>
                    <p class="b-article__title article-title">Интеграция с 1С</p>
                    <p class="b-article__text">Интеграция с 1С, топливными системами и клиентбанками.</p>
                </div>
                <div class="b-article">
                    <div class="b-article__img">
                        <img class="article-img" src="img/autopayment.svg" alt="">
                    </div>
                    <p class="b-article__title article-title">Автоплатежи</p>
                    <p class="b-article__text">Выгрузка платежных поручений всего лишь в один клик.</p>
                </div>
                <div class="b-article">
                    <div class="b-article__img">
                        <img class="article-img" src="img/driver-motivation.svg" alt="">
                    </div>
                    <p class="b-article__title article-title">Мотивация водителей</p>
                    <p class="b-article__text">Увеличение вывоза до 30% за счет персонализированной мотивации.</p>
                </div>
            </div>
            </div>
        </div>
    </div>
<div class="b-page__section">
    <div class="section">
        <p class="section-title">Финансы</p>
        <div class="section__img img-block">
            <div class=" img-block__arrow img-block__arrow--1">
                <p class="orange-text">Выдача зарплаты за 5 минут</p>
            </div>
            <div class=" img-block__arrow img-block__arrow--2">
                <p class="orange-text">Масштабирование бизнеса</p>
            </div>
            <div class="img-block__wrapper">
                <img src="img/finance.jpg" class="img-finance">
            </div>
            <div class=" img-block__arrow img-block__arrow--3">
                <p class="orange-text">Решение конфликтов с водителями</p>
            </div>
        </div>
        <div class="grid grid--container">
            <div class="grid__row grid__row--nowrap grid__row--md">
                <div class="grid__item">
                    <div class="b-article">
                        <div class="b-article__img">
                            <img class="article-img" src="img/autopayment.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">Автоплатежи</p>
                        <p class="b-article__text">Автоматическое списание комиссии парка, автоплатежи (лицензии, аренда и и др.)</p>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="b-article">
                        <div class="b-article__img">
                            <img class="article-img" src="img/integrations-common.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">Интеграции</p>
                        <p class="b-article__text">Выгрузка документов в 1С, клиент-банк и другие прогрмаммы</p>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="b-article">
                        <div class="b-article__img">
                            <img class="article-img" src="img/pay.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">Зарплата</p>
                        <p class="b-article__text">Расчет и выдача заработной платы водителям вашего таксопарка за 3 минуты</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b-page__section">
    <div class="section">
        <p class="section-title">Индикаторы <sup>Скоро</sup></p>
        <div class="section__img ">
            <div class="img-overlay">
                <div class="img-overlay__item control-driver"></div>
                <div class="img-overlay__item control-rating"></div>
            </div>
        </div>
        <div class="grid grid--container">
            <div class="grid__row grid__row--nowrap grid__row--md">
                <div class="grid__item">
                    <div class="b-article">
                        <div class="b-article__img">
                            <img class="article-img" src="img/control-state.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">контроль штата</p>
                        <p class="b-article__text">Контроль уменьшения количества  водителей, работающих в таксопарке</p>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="b-article">
                        <div class="b-article__img">
                            <img class="article-img" src="img/control-rating.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">Контроль рейтинга</p>
                        <p class="b-article__text">Контроль рейтинга водителей для повышения качества сервиса</p>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="b-article">
                        <div class="b-article__img">
                            <img class="article-img" src="img/control-motivation.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">Мотивация</p>
                        <p class="b-article__text">Мотивация водителя для перевыполнения плана по заказам</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b-page__section">
    <div class="section">
        <p class="section-title">Маркетинг <sup>Скоро</sup></p>
        <div class="section__img ">
            <div class="img-overlay">
                <div class="img-overlay__item control-driver"></div>
                <div class="img-overlay__item control-rating"></div>
            </div>
        </div>
        <div class="grid grid--container">
            <div class="grid__row grid__row--nowrap grid__row--md">
                <div class="grid__item">
                    <div class="b-article">
                        <div class="b-article__img">
                            <img class="article-img" src="img/control-state.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">контроль штата</p>
                        <p class="b-article__text">Контроль уменьшения количества  водителей, работающих в таксопарке</p>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="b-article">
                        <div class="b-article__img">
                            <img class="article-img" src="img/control-rating.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">Контроль рейтинга</p>
                        <p class="b-article__text">Контроль рейтинга водителей для повышения качества сервиса</p>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="b-article">
                        <div class="b-article__img">
                            <img class="article-img" src="img/control-motivation.svg" alt="">
                        </div>
                        <p class="b-article__title article-title">Мотивация</p>
                        <p class="b-article__text">Мотивация водителя для перевыполнения плана по заказам</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>