html{
  height: 100%;
  font-size: 62.5%;
  font-family: GothamProRegular;
}
body{
  font-size: 1.4rem;
  height: 100%;
}
.b-page{
  position: relative;
  flex-direction: column;
  padding: 1.5rem 0;
}
p{
  margin: 1rem 0;
}
.title--text{
  text-align: left;
}
.text--show{
  display: block;
}