html{
  height: 100%;
  font-size: 62.5%;
  font-family: GothamProRegular;
}
body{
  width: 100%;
  font-size: 1.4rem;
  height: 100%;
}
.b-page{
  width: 100%;
  position: relative;
  flex-direction: column;
  padding: 0 0 1.5rem 0;
}
p{
  margin: 1rem 0;
}
.title--text{
  text-align: left;
}
b{
  font-weight: bold;
  color: $black;
}
.text--show{
  display: block;
}
.special-link{
  color: $special-link;
  text-decoration: underline;
  &--indent{
    margin-top: 0.6rem;
  }
}
.cross-out{
  width: 19px;
  height: 19px;
  @include mq (tablet,min){
    width: 23px;
    height: 23px;
  }
  @include mq (desktop,min){
    width: 30px;
    height: 30px;
  }

}
  .text-title{
    &--md{
      font-size: $sm-h3;
      @include mq (tablet,min){
        font-size: $md-h3;
      }
      @include mq (tablet,min){
        font-size: $lg-h3;
      }
    }
    &--center{
      text-align: center;
    }
  }
 .base-text{
   &--sm{
     font-size: $sm-sm;
   }
   &--sm-bigger{
     font-size: $md-h4;
   }
   &--center{
     text-align: center;
   }
   &--upper{
     text-transform: uppercase;
   }
  font:$md-h5 GothamProRegular;
   line-height: 1.5;
   &--soft{
     color: $color-article-text;
   }
  &--big{
    font-size: $md-h1;
    font-weight: bold;
  }
  &--color{
    color: $orange;
  }
}